.uploader {
    --shc-comment-avatar-size: 5vh;

    display: flex;
    gap: .75rem;
    align-items: center;

    &__avatar {
        display: block;

        width: var(--shc-comment-avatar-size);
        height: var(--shc-comment-avatar-size);

        &.image-card {
            border-radius: 100%;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: .125rem;
        white-space: nowrap;
    }

    &__name {
        font-size: 1rem;
    }
}
