@if (uploader?.url; as href) {
    <a class="uploader__link-wrapper" [href]="href">
        <ng-container *ngTemplateOutlet="uploaderTempl"></ng-container>
    </a>
} @else {
    <ng-container *ngTemplateOutlet="uploaderTempl"></ng-container>
}

<ng-template #uploaderTempl>
    @if (uploader?.name; as name) {
        <span class="uploader__name ion-hide-md-down">
            @if (uploader?.id | isWellKnownUploader) {
                {{ name | transloco }}
            } @else {
                {{ name }}
            }
        </span>
    } @else {
        <app-skeleton-block height="1rem" width="5rem" />
    }

    @if (uploader?.avatar; as avatar) {
        <img class="uploader__avatar"
            [src]="uploader?.avatar"
            alt="avatar" />
    } @else {
        <app-skeleton-block height="1.625rem" width="1.625rem" />
    }
</ng-template>
