@use 'src/scss/mixins' as *;

.uploader {
    --shc-comment-avatar-size: 3rem;

    @include media-breakpoint-up('x2k') {
        --shc-comment-avatar-size: 4rem;
    }

    @include media-breakpoint-up('x4k') {
        --shc-comment-avatar-size: 5.5rem;
    }

    display: flex;
    gap: .75rem;
    align-items: center;

    &__avatar {
        display: block;

        width: var(--shc-comment-avatar-size);
        height: var(--shc-comment-avatar-size);

        &.image-card {
            border-radius: 100%;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: .125rem;
        white-space: nowrap;
    }
}
