@if (link()) {
    <a [href]="link()">
        <app-image-card
            class="uploader__avatar"
            [imageUrl]="avatar()"
            [name]="name()"
        />
    </a>

    <div class="uploader__info">
        <a [href]="link()">
            <span class="uploader__name">
                    @if (id() | isWellKnownUploader) {
                        {{ name() | transloco }}
                    } @else {
                        {{ name() }}
                    }
            </span>
        </a>

        <span
            class="uploader__counter"
            [title]="'PLAYER_MODULE.PLAYER_PAGE.UPLOADER.UPLOADS_COUNT' | transloco: { count: rawCount(), suffix: '' }"
        >
            @if (isKodik()) {
                {{ 'PLAYER_MODULE.PLAYER_PAGE.UPLOADER.UPLOADER_IS_A_SERVICE' | transloco }}
            } @else {
                {{ 'PLAYER_MODULE.PLAYER_PAGE.UPLOADER.UPLOADS_COUNT' | transloco: { count: count(), suffix: suffix() } }}
            }
        </span>
    </div>
} @else {
    <app-image-card
        class="uploader__avatar"
        [imageUrl]="avatar()"
        [name]="name()"
    />

    <div class="uploader__info">
        <span class="uploader__name">
                @if (id() | isWellKnownUploader) {
                    {{ name() | transloco }}
                } @else {
                    {{ name() }}
                }
        </span>

        <span class="uploader__counter"></span>
    </div>
}
