<app-inline-expander
    class="description__expander"
    (isOpen)="onExpand()"
>
    <div class="description__about">
        @if (image()) {
            <a
                class="responsive-9by13"
                [href]="id() | shikimoriAnimeLink | getShikimoriPage | async">            
                <app-image-card
                    class="description__poster"
                    [imageUrl]="image()"
                    [name]="animeName()"
                />
            </a>
        }

        <div class="description__wrapper">
            @if (hasDescription()) {
                <div class="description__text" [innerHtml]="description()"></div>
            } @else {
                <div class="description__text">
                    {{ 'PLAYER_MODULE.PLAYER_PAGE.DESCRIPTION.EMPTY_ANIME_DESCRIPTION' | transloco }}
                </div>
            }

            @defer (on timer(3000)) {
                <app-franchise
                    class="description__franchise"
                    [animeId]="id()"
                />
            } @placeholder {
                <div class="description__franchise skeleton"></div>
            }
        </div>
    </div>
</app-inline-expander>