<div *ngIf="uploadedByUser && !isForeignSource"
     [matTooltip]="'Видео загружено пользователем ' + uploadedByUser?.nickname">
  <img [src]="uploadedByUser.avatar" width="20" [alt]="uploadedByUser?.nickname">
  <a class="shc-links" [href]="'https://shikimori.one/' + uploadedByUser?.nickname" target="_blank">
    {{ uploadedByUser?.nickname }}
  </a>
</div>

<div *ngIf="isForeignSource"
     [matTooltip]="'Видео предоставлено сервисом Kodik'">
  <img src="/assets/kodik.png" width="20" alt="kodik">
  <a class="text">odik</a>
</div>
