@font-face {
  font-family: "shikimori";
  src: url("https://shikimori.one/assets/shikimori.eot?") format("eot"),
       url("https://shikimori.one/assets/shikimori.woff2") format("woff2"),
       url("https://shikimori.one/assets/shikimori.woff") format("woff"),
       url("https://shikimori.one/assets/shikimori.ttf") format("truetype"),
       url("https://shikimori.one/assets/shikimori.svg#shikimori") format("svg");
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  --shc-interactive-text-color: #176093;
  --shc-interactive-text-color-lighter: #317AAD;
  --shc-interactive-text-color-hover: #DD5202;
  --shc-interactive-text-color-selected: #B34100;
}

.shc-links,
.shc-links:link,
.shc-links:active,
.shc-links:visited {
  color: var(--shc-interactive-text-color);
  text-decoration-line: none;
}

.dark-theme .shc-links {
  color: var(--shc-interactive-text-color-lighter);
}

.shc-links:hover,
.dark-theme .shc-links:hover {
  color: var(--shc-interactive-text-color-hover);
  cursor: pointer;
}

.shc-replies {
  margin-right: 20px;
  text-align: right;
  font-size: smaller;
}

.shc-quote {
  background: #7777;
  border: 1px dashed #777;
  font-style: italic;
  margin: 5px 0 5px 5px;
  overflow: hidden;
  padding: 5px 10px;
}

.shc-spoiler {
  color: var(--shc-interactive-text-color);
  text-decoration: underline dashed;
}

.dark-theme .shc-spoiler {
  color: var(--shc-interactive-text-color-lighter);
}

.shc-spoiler:hover, .shc-spoiler label:hover {
  color: var(--shc-interactive-text-color-hover);
  cursor: pointer;
}

.shc-spoiler label {
  display: inline;
}

.shc-spoiler .content {
  display: none;
}

.shc-spoiler .content .before::before {
  font-size: smaller;
  content: '[spoiler] ';
}

.shc-spoiler .content .after::before {
  font-size: smaller;
  content: ' [/spoiler]';
}

.shc-spoiler .content .inner {
  text-decoration: underline dashed var(--shc-interactive-text-color-hover);
}

.shc-spoiler .content .before,
.shc-spoiler .content .after,
.shc-spoiler .content .inner {
  display: inline;
}

.shc-inline-spoiler:not(.is-opened) {
  background-color: #678;
  cursor: pointer;
}

.shc-inline-spoiler:not(.is-opened) > span {
  opacity: 0;
  user-select: none;
  pointer-events: none;
}

.shc-inline-spoiler {
  background-color: #7777;
  border: 0;
  padding: 0;
  transition: background-color .25s ease;
}

.shc-inline-spoiler > span {
  transition: opacity .25s ease;
}

/* remove chrome defaults */
.shc-inline-spoiler,
.shc-block-spoiler  :focus {
  outline: 0;
}

.shc-block-spoiler > button,
.shc-block-spoiler > span {
  background-color: #456;
  border: 0;
  clear: right;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: 23px;
  padding: 0 28px 0 10px;
  transition: background-color 0.3s ease,
              color 0.3s ease;
  user-select: none;
}

.shc-block-spoiler > button::after,
.shc-block-spoiler > span::after {
  font-family: shikimori, serif;
  font-feature-settings: 'liga';
  text-transform: none;
  letter-spacing: normal;
  content: "î¡‡";
  font-size: 17px;
  font-weight: bold;
  margin: 1px 0 0 8px;
  position: absolute;
  transition: transform .25s, margin .25s;
}

.shc-block-spoiler.is-opened > button::after,
.shc-block-spoiler.is-opened > span::after {
  transform: rotate(180deg);
  margin-top: 0;
}

.shc-block-spoiler:not(.is-opened) > div {
  display: none;
}

.shc-block-spoiler > div {
  border-left: 4px solid #456;
  padding: 3px 3px 3px 14px;
}

.inline {
  display: inline;
}

.selected,
.dark-theme .selected {
  color: var(--shc-interactive-text-color-selected);
}

.text {
  color: #333333;
}

.dark-theme .text {
  color: #AAA;
}

.dark-theme .mat-select-value {
  color: #AAA;
}

.hostname {
  font-size: 10pt;
  color: #999999;
}

.flex {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.flex-start {
 justify-content: flex-start;
}

.flex-end {
 justify-content: flex-end;
}

.flex-column {
  flex-direction: column;
}

.max-width {
  width: 100%;
}

.with-space-between {
  justify-content: space-between;
}

.note {
  padding: 20vh 0;
  font-size: xx-large;
  color: #999999;
}

.material-drag-n-drop-list {
  width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.material-drag-n-drop-item {
  padding: 20px 10px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: small;
  flex-grow: 1;
  flex-basis: 0;
}

.material-drag-n-drop-item.cdk-drag-disabled {
  background-color: #EEE;
  cursor: pointer;
}

.material-drag-n-drop-item:last-child {
  border: none;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Shikimori's styles override */

div.ban div {
  display: inline-block;
}

div.ban > span {
  color: #ff4136;
}

div.ban a[href] {
  text-decoration: none;
}

div.ban a[href] img {
  border-radius: 100%;
  vertical-align: middle;
  margin: 0 5px 4px 0;
}

div.ban a[href] span,
div.ban a[href] span:link,
div.ban a[href] span:active,
div.ban a[href] span:visited {
  color: var(--shc-interactive-text-color);
  text-decoration-line: none;
}

.dark-theme div.ban a[href] span,
.dark-theme div.ban a[href] span:link,
.dark-theme div.ban a[href] span:active,
.dark-theme div.ban a[href] span:visited {
  color: var(--shc-interactive-text-color-lighter);
}

div.ban a[href] span:hover {
  color: var(--shc-interactive-text-color-hover);
  cursor: pointer;
}

a.shc-links.bubbled img {
  border-radius: 100%;
  vertical-align: middle;
  margin: 0 5px 2px 0;
}

a.shc-links s {
  color: #6d9fc2;
  text-decoration: none;
  display: inline-block;
}

.shc-image {
  cursor: zoom-in;
}

.shc-image img {
  max-width: 30%;
  height: auto;
}

@media (max-width: 1024px) {
  .shc-image img {
    max-width: 80%;
  }
}

.shc-image .marker {
  display: none;
}

.shc-quote a {
  margin-right: 5px;
}

.b-entry-404 del {
  padding: 0 0 0 5px;
  color: #444;
  cursor: default;
  display: inline-block;
  text-decoration: line-through;
}

.shc-iframe {
  background-color: #7777;
  border: 0;
}

@media (min-width: 1025px) {
  .shc-iframe {
    width: 1024px;
    height: 576px;
  }
}

@media (max-width: 1024px) {
  .shc-iframe {
    width: 500px;
    height: 280px;
  }
}

@media (max-width: 500px) {
  .shc-iframe {
    width: 200px;
    height: 115px;
  }
}

img.smiley {
  margin: 0 5px;
  width: auto;
  max-height: 36px;
  vertical-align: middle;
  padding: 2px;
  background-color: #EEEEEE;
  border-radius: 32px;
}
