body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

  --mdc-theme-primary: #333;
  --mdc-theme-secondary: #999;
  --mdc-theme-on-primary: #555;
  --mdc-theme-on-secondary: #fff;
}

.shc-links, .shc-links:link, .shc-links:active, .shc-links:visited {
  color: #176093;
  text-decoration-line: none;
}

.shc-links:hover {
  color: #DD5202;
  cursor: pointer;
}
