<a class="wrapper" [routerLink]="[link]">
    <app-image-card
        class="card-grid-item__image responsive-9by13"
        tabindex="0"
        [@scale]="mouseOver"
        [height]="height"
        [width]="width"
        [name]="name"
        [imageUrl]="imageUrl"
        (imageLoad)="onImageLoad($event)"
        (mouseover)="mouseOver = true"
        (mouseleave)="mouseOver = false"
        (focus)="mouseOver = true"
        (focusout)="mouseOver = false"
    ></app-image-card>
</a>

<app-skeleton-block
    *ngIf="isLoading"
    class="card-grid-item__name card-grid-item__name--skeleton"
    [height]="'33px'"
    [width]="width"
></app-skeleton-block>

<h2
    class="card-grid-item__name"
    [class.ion-hide]="isLoading"
    [ngxTippy]="name"
    [tippyProps]="{
        'placement': 'top'
    }"
    [ngStyle]="{
        'max-width': width
    }"
>
    {{ name }}
</h2>

<footer
    class="card-grid-item__other-info"
    [class.ion-hide]="isLoading"
>
    <span>{{ 'GLOBAL.SHIKIMORI.ANIME_KINDS.' + (kind | uppercase) | transloco }}</span>
    <time [dateTime]="releaseDate">{{ releaseDate | date: 'YYYY' }}</time>
</footer>
