@use 'src/scss/mixins' as *;

.card-grid-item {
    display: flex;
    flex-direction: column;
    // скрываем alt текст для картинок на фоне (т.к. он всё равно заблюрен)
    font-size: 0;

    :focus {
        outline: 0.25rem solid var(--ion-color-primary);
        border-radius: .25rem;
        z-index: 10;
    }

    &__name {
        margin: .25rem 0 0;
        font-size: .9rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__other-info {
        font-size: .7rem;
        color: var(--ion-color-medium);
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &--skeleton {
            margin-top: 1px;
        }
    }

    .wrapper {
        display: contents;
        position: relative;
    }
}
