:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.badge {
  display: inline-block;
  cursor: default;
  padding: 0 5px;
  margin: 0 3px;
  user-select: none;
}

.preview {
  color: hsl(209, 100%, 65.1%);
  background-color: hsl(209, 100%, 90%);
  border: 1px solid hsl(209, 100%, 40%);
}

.offtop {
  color: hsl(334, 83.7%, 75.9%);
  background-color: hsl(334, 83.7%, 90%);
  border: 1px solid hsl(334, 83.7%, 60%);
}

.badge.off {
  color: hsl(0, 0%, 50%);
  background-color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 20%);
}
