@if (nextEpisodeAt()) {
    <div class="responsive-16by9 player__video player__video--has-banner player__video--airing-soon-banner">
        <div class="player__placeholder">
            @let date = nextEpisodeAt() | date: 'dd.MM.yyyy HH:mm';

            {{ 'PLAYER_MODULE.PLAYER_PAGE.PLAYER.NEXT_EPISODE_PLACEHOLDER' | transloco: { date } }}
        </div>
    </div>
} @else if (timeout$ | async) {
    <div class="responsive-16by9 player__video player__video--has-banner player__video--not-loading-banner">
        <div class="player__placeholder">
            {{ 'PLAYER_MODULE.PLAYER_PAGE.PLAYER.FAILED_PLACEHOLDER' | transloco }}
        </div>
    </div>
} @else {
    <iframe
        class="responsive-16by9 player__video"
        allowfullscreen=""
        [class.ion-hide]="isLoading()"
        [src]="source() | urlSanitizer"
        (load)="onLoad()"
    ></iframe>
}
