:host {
  position: absolute;
  min-width: 35%;
  min-height: 100px;
  max-width: 40%;
  background-color: white;
  border: 1px solid #7777;
}

.dark-theme :host {
  background-color: #424242;
}

.comment {
  min-width: 100px;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  padding: 15px 0;
}

.comment-avatar {
  padding: 5px;
  width: 48px;
  height: 48px;
  background-color: transparent;
}

.comment-avatar img {
  border-radius: 53px;
}

.comment-info {
  padding: 5px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
}

.comment-content {
  padding-right: 3px;
}

.smaller {
  font-size: smaller;
}

.small {
  font-size: small;
}

.close {
  position: absolute;
  cursor: pointer;
  background-color: #eeee;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  top: 5px;
  right: 5px;
}

.close:hover {
  color: var(--shc-interactive-text-color-hover);
  background-color: #dddd;
}

.dark-theme :host .close {
  background-color: #7777;
}

.dark-theme :host .close:hover {
  background-color: #8888;
}
