<div class="bubble text">
  <div (click)="hide.emit()"
          class="close text">
    🞪
  </div>
  <div class="comment">
    <div class="comment-avatar">
      <a [href]="'https://shikimori.one/' + comment?.user.nickname">
        <img [src]="comment?.user?.avatar"
             [alt]="comment?.user?.nickname"
             loading="lazy"
             height="48px" width="48px">
      </a>
    </div>
    <div class="max-width">
      <div class="comment-info">
        <span>
          <a [href]="'https://shikimori.one/' + comment?.user.nickname"
             class="shc-links">
            {{ comment?.user.nickname }}
          </a>
        </span>
        <div class="text smaller">
              <span>
                {{ comment?.lastUpdated | date: 'short' }}
              </span>
          <mat-icon *ngIf="comment?.isEdited"
                    [title]="'создано: ' + (comment?.created | date: 'short')"
                    class="small">edit</mat-icon>
        </div>
      </div>
      <div [innerHTML]="comment?.html"
           class="text comment-content"></div>
    </div>
  </div>
</div>
