form {
  padding: 10px;
  background-color: whitesmoke;
}

label {
  display: block;
  padding: 10px 0;
}

select {
  border-radius: 0;
}

@media (max-width: 1024px) {
  div div {
    flex-flow: column;
  }

  div div label {
    margin: 10px 0;
  }

  div div.flex select {
    max-width: 100%;
  }
}

@media (min-width: 1025px) {
  div span.flex select {
    max-width: 10%;
  }

  div.flex label {
    margin: 0 5px;
    width: 25%;
  }
}

#upload-controls {
  display: flex;
  justify-content: flex-end;
}

#upload-controls button {
  margin: 10px 5px;
  border: #555 solid 1px;
  pointer-events: auto;
}

#episode-input {
  height: 75%;
}

input[type=url].ng-valid.ng-touched  {
  border-left: 5px solid #0A09;
}

.ng-untouched:not(form) {
  border-left: 5px solid #d2d2d2;
}

.ng-invalid.ng-touched:not(form) {
  border-left: 5px solid red;
}

:focus {
  background-color: #d2d2d2;
}

.form-error {
  padding: 0 10px 10px;
  color: red;
}

.form-warning {
  padding: 0 10px 10px;
  color: orangered;
}

.required-field {
  font-weight: bolder;
  vertical-align: super;
  font-size: smaller;
  color: red;
}
