<form id="video-upload-form" novalidate (ngSubmit)="onSubmit(videoForm)" #videoForm="ngForm">
  <div class="text">
    <h3>Перед загрузкой ознакомьтесь с инструкцией
      <a class="shc-links"
         target="_blank"
         href="https://github.com/Smarthard/shikicinema/wiki/Как-загружать-видео">
        как загружать видео
      </a>!
    </h3>
  </div>

  <div id="fields">
    <mat-form-field>
      <input matInput class="text" placeholder="URL проигрывателя" name="url" type="url"
             [(ngModel)]="video.url"
             (paste)="video.url = trimUrl($event)"
             [errorStateMatcher]="matcher"
             pattern="https?:\/\/.*" required>
      <mat-error *ngIf="videoForm.invalid && videoForm.touched">
        Это поле должно быть адресом web-страницы
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput class="text" placeholder="Автор озвучки/субтитров" name="author" type="text"
             [(ngModel)]="video.author"
             (input)="search4Authors($event)"
             autocomplete="off" list="authors" #authorInput>
      <mat-hint>
        Это поле можно оставить пустым, но видео с неизвестными авторами менее популярны
      </mat-hint>
    </mat-form-field>

    <div class="flex">
      <mat-form-field>
        <input matInput class="text" name="episode"
               type="number"
               placeholder="Эпизод"
               value="1" min="1"
               [(ngModel)]="video.episode" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Тип</mat-label>
        <mat-select name="kind"
                    [(ngModel)]="video.kind">
          <mat-option value="озвучка">озвучка</mat-option>
          <mat-option value="субтитры">субтитры</mat-option>
          <mat-option value="оригинал">оригинал</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Качество</mat-label>
        <mat-select name="quality"
                    [(ngModel)]="video.quality">
          <mat-option value="unknown">неизвестное</mat-option>
          <mat-option value="TV">TV</mat-option>
          <mat-option value="DVD">DVD</mat-option>
          <mat-option value="BD">BD</mat-option>
          <mat-option value="WEB">WEB</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Язык озвучки</mat-label>
        <mat-select name="language"
                    [(ngModel)]="video.language">
          <mat-option value="russian">русский</mat-option>
          <mat-option value="english">английский</mat-option>
          <mat-option value="original">оригинальный</mat-option>
          <mat-option value="unknown">неизвестный</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <input hidden name="anime_id" [value]="animeId" [(ngModel)]="video.anime_id">
    <input hidden name="uploader" [value]="uploaderId" [(ngModel)]="video.uploader">
    <input hidden name="anime_russian" value="russian" [(ngModel)]="video.anime_russian">
    <input hidden name="anime_english" value="english" [(ngModel)]="video.anime_english">

    <datalist id="authors">
      <ng-container *ngIf="(sources$ | async) as sources">
        <option *ngFor="let author of getUniqueAuthors(sources)">{{ author }}</option>
      </ng-container>
    </datalist>

  </div>

  <div id="upload-controls">
    <label id="autoinc">
      <mat-checkbox class="pale text"
                    labelPosition="before"
                    [(ngModel)]="autoIncEpisode"
                    [ngModelOptions]="{standalone: true}">Автоинкремент эпизода</mat-checkbox>
    </label>
    <button mat-flat-button
            id="close-button"
            type="button"
            color="warn"
            title="Закрыть форму загрузки"
            (click)="close.emit($event)">
      Закрыть
    </button>
    <button mat-flat-button
            *ngIf="!videoWasChecked"
            type="button"
            color="accent"
            title="Проверить видео в плеере"
            [disabled]="videoForm.invalid"
            (click)="checkVideo(video)">
      Проверить
    </button>
    <button mat-flat-button
            *ngIf="videoWasChecked"
            color="accent"
            type="submit"
            [title]="videoForm.invalid ? 'Перед загрузкой, введите корректные данные' : 'Загрузить видео в архив'"
            [disabled]="videoForm.invalid">
      Загрузить
    </button>
  </div>
</form>
