form {
  padding: 5px 10px;
  border: 1px solid grey;
  border-radius: 5px;
}

#fields * {
  width: 100%;
}

@media (max-width: 1024px) {
  div.flex {
    flex-flow: column;
    margin-top: 25px;
  }

  div.flex mat-select {
    max-width: 100%;
  }

  form {
    border-left-width: 0;
    border-right-width: 0;
  }
}

@media (min-width: 1025px) {
  div.flex {
    margin-top: 25px;
  }

  div.flex * {
    margin: 0 5px;
  }
}

#autoinc {
  display: flex;
  align-content: center;
  align-items: center;
  font-size: smaller;
}

#upload-controls {
  display: flex;
}

#close-button {
  margin-left: auto;
}

button {
  margin: 5px;
}
