
<mat-card>

  <mat-card-header>
    <mat-icon mat-card-avatar>palette</mat-icon>
    <mat-card-title>Внешний вид плеера</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <h4>Вид списка серий</h4>
    <section>
      <mat-checkbox [(ngModel)]="settings.oldFagApproves" (ngModelChange)="update()">
        ...как в старом плеере Шикимори
      </mat-checkbox>
    </section>

    <h4>
      Дополнительные кнопки плеера
      <mat-icon class="help"
                title="отображение кнопок настроек и загрузки видео">
        help
      </mat-icon>
    </h4>
    <section>
      <mat-checkbox [(ngModel)]="settings.extraButtons" (ngModelChange)="update()">
        ...{{ settings.extraButtons ? 'показывать всегда' : 'спрятать в меню' }}
      </mat-checkbox>
    </section>

    <h4>Фильтры для плеера
      <mat-slide-toggle [(ngModel)]="settings.playerFiltersEnabled"
                        (ngModelChange)="update()"></mat-slide-toggle>
    </h4>
    <section>
      <div cdkDropList class="material-drag-n-drop-list"
           cdkDropListOrientation="horizontal"
           (cdkDropListDropped)="drop($event)">
        <div *ngFor="let filter of settings.playerFilters"
             [cdkDragDisabled]="!filter.enabled || !settings.playerFiltersEnabled"
             (click)="filter.enabled = !filter.enabled; update()"
             class="material-drag-n-drop-item" cdkDrag i18n="@@filterName">
          { filter.name, select, author {Студия} language {Язык} quality {Качество} url {Плеер} }
        </div>
      </div>
    </section>

  </mat-card-content>
</mat-card>

<mat-card>

  <mat-card-header>
    <mat-icon mat-card-avatar>sync</mat-icon>
    <mat-card-title>Настройки авторизации</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <div *ngIf="auth.shikivideos$ | async as shikivideos">
      <h4>
        Доступ к Видео-Архиву
        <mat-icon class="help"
           [title]="'Необходимо иметь актуальный токен доступа для загрузок видео.\n\n' + (shikivideos | json)">
          help
        </mat-icon>
        <mat-slide-toggle [checked]="!shikivideos.expired"
                          (toggleChange)="shikivideos.expired ? auth.shikivideosSync() : auth.shikivideosDrop()"
                          [title]="!shikivideos.expired ? 'Всё в порядке' : 'Обновить доступ'"></mat-slide-toggle>
      </h4>
      <div *ngIf="shikivideos.token">
        <b>Токен</b>: {{ shikivideos.token }}<br>
        <b>Истекает</b>:
          <span *ngIf="shikivideos.expired">{{ shikivideos.expireDate | timeAgo }}</span>
          <span *ngIf="!shikivideos.expired">{{ shikivideos.expireDate | date: 'MMM d, HH:mm' }}</span>
      </div>
    </div>

    <div *ngIf="auth.shikimori$ | async as shikimori">
      <h4>
        Синхронизация с Шикимори
        <mat-icon class="help"
           [title]="'Необходимо иметь актуальный токен доступа для синхронизации просмотра.\n\n' + (shikimori | json)">
          help
        </mat-icon>
        <mat-slide-toggle [checked]="!shikimori.expired"
                          (toggleChange)="shikimori.expired ? auth.shikimoriSync() : auth.shikimoriDrop()"
                          [title]="!shikimori.expired ? 'Всё в порядке' : 'Обновить доступ'"></mat-slide-toggle>
      </h4>
      <div *ngIf="shikimori.token">
        <b>Токен</b>: <span style="font-size: x-small">{{ shikimori.token }}</span><br>
        <b>Истекает</b>:
          <span *ngIf="shikimori.expired">{{ shikimori.expireDate | timeAgo }}</span>
          <span *ngIf="!shikimori.expired">{{ shikimori.expireDate | date: 'MMM d, HH:mm' }}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="flex flex-end">
  <button mat-button class="reset" title="Сбросить в настройки по-умолчанию" (click)="reset()">Сбросить</button>
  <button mat-button class="green" title="Вернуться к просмотру" (click)="back()">Вернуться</button>
</div>

<app-notify></app-notify>
