@media (min-width: 1025px) {
  #player {
    margin-top: 10px;
    padding: 0 13%;
  }

  .material-icons.md-24 {
    font-size: 36px;
    font-weight: 500;
  }
  .control-box-subtext {
    font-size: 8pt;
  }
  .control-box {
    margin: 20px;
  }

  #shikicinema-episode {
    /* remove *magic* values */
    border: none;
    padding: 45px 0 0 15px;
    margin-top: -33px;
    width: 70px;
    text-align: center;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {

  #shikicinema-episode + .control-box-subtext {
    margin-top: 6px;
  }

  .material-icons.md-24 {
    font-size: 32px;
    font-weight: 500;
  }
  .control-box-subtext {
    font-size: 7pt;
  }
  .control-box {
    margin: 5px;
  }

  #shikicinema-episode {
    /* remove *magic* values */
    border: none;
    padding: 45px 0 0 15px;
    margin-top: -28px;
    width: 60px;
    text-align: center;
  }
}

@media (max-width: 1024px) and (orientation: portrait) {

  .material-icons.md-24 {
    font-size: 32px;
    font-weight: 500;
  }
  .control-box-subtext {
    font-size: 7pt;
  }
  .control-box {
    margin: 0;
  }

  #shikicinema-episode {
    /* remove *magic* values */
    border: none;
    padding: 38px 0 7px 2px;
    margin-top: -25px;
    width: 80px;
    text-align: center;
  }
}

#filters {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

#filters * {
  min-width: 32.5%;
  margin: 0 5px;
}

#controls {
  margin: 5px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  vertical-align: middle;
}

#series {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
}

#series * {
  width: 49%;
}

#upload-form {
  margin: 20px 0;
}

.control-box-subtext {
  text-align: center;
}

.mdc-button {
  color: #333333;
  background-color: white;
}

.mdc-button:disabled {
  color: #999;
}

.watched {
  color: green;
}

app-notify {
  position: fixed;
  right: 0;
  top: 0;
}

app-uploader {
  position: absolute;
  right: 0;
  top: 0;
}

app-server-status {
  position: absolute;
  left: 0;
  top: 0;
}
