@media (min-width: 1025px) {

  #player {
    padding: 0 13%;
  }

  mat-icon {
    font-size: 36px;
  }

  .control-box-subtext {
    font-size: 8pt;
  }

  .control-box {
    margin: 20px;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {

  mat-icon {
    font-size: 36px;
  }
  .control-box-subtext {
    font-size: 7pt;
  }
  .control-box {
    margin: 5px;
  }

  :host footer {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  :host footer ul {
    margin: 2px auto;
    padding: 0;
    line-height: 1.4;
    font-size: smaller;
  }

  :host footer ul li {
    display: inline;
    text-align: center;
  }

  footer ul.footer-links {
    justify-content: center;
    padding: 15px;
  }
}

@media (max-width: 1024px) and (orientation: portrait) {

  #player {
    display: block;
  }

  input#shikicinema-episode {
    height: 36px;
  }

  .mat-icon {
    font-size: 32px;
  }
  .control-box-subtext {
    font-size: 7pt;
  }
  .control-box {
    margin: 0;
  }

  :host footer {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  :host footer ul {
    margin: 2px auto;
    padding: 0;
    line-height: 1.4;
    font-size: smaller;
  }

  :host footer ul li {
    display: inline;
    text-align: center;
  }

  footer ul.footer-links {
    justify-content: center;
    padding: 15px;
  }
}

footer {
  background-color: #eee;
  margin: 0;
  padding: 0 13%;
}

ul.footer-links {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 6px 0;
  list-style: none;
}

footer ul li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px 0 0;
}

li a img {
  display: inline-block;
  vertical-align: middle;
}

:host footer * {
  background-color: inherit;
}

.dark-theme :host footer {
  background-color: #333;
}

.dark-theme :host, .dark-theme :host * {
  background-color: #2e2e2e;
}

.dark-theme :host button:not(.watched) mat-icon {
  color: #AAA;
}

.dark-theme :host button:disabled mat-icon {
  color: #444444;
}

mat-icon {
  height: auto;
  width: auto;
  font-weight: 500;
}

#filters {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

#filters * {
  margin: 0 5px;
}

#controls {
  margin: 5px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  vertical-align: middle;
}

#series {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
}

#series * {
  width: 49%;
}

#upload-form {
  margin: 20px 0;
}

#shikicinema-episode {
  border: none;
  padding: 0;
  margin: 0;
  width: 80px;
  height: 37px;
  font: larger 'Roboto', sans-serif;
  text-align: center;
}

.control-box-subtext {
  text-align: center;
}

.watched {
  color: green;
}

app-notify {
  position: fixed;
  right: 0;
  top: 0;
}

.centered {
  text-align: center;
}
