<div id="player" *ngIf="settings && (anime$ | async) as anime">
  <app-video-player [video]="currentVideo"></app-video-player>

  <ng-container *ngIf="(videos$ | async) as videos">
    <div id="filters" *ngIf="videos.length > 0 && settings.playerFiltersEnabled && unique$ | async as unique">
      <app-dropdown-filters *ngFor="let f of settings.playerFilters
                              | filterBy: ['enabled']:true as enabledFilters"
                            [unique]="unique"
                            [episode]="episode$ | async"
                            [ngStyle]="{ 'width.%':  100 / enabledFilters.length }"
                            (change)="filter[f.name] = $event"
                            column="{{ f.name }}"
                            placeholder="{{ f.name }}"></app-dropdown-filters>
    </div>

    <div id="controls">
      <app-control-box subtext="Предыдущий">
        <button mat-button
                [disabled]="+urlParams.episode - 1 < 1"
                (click)="changeEpisode(+urlParams.episode - 1)">
          <mat-icon>fast_rewind</mat-icon>
        </button>
      </app-control-box>
      <app-control-box subtext="прямая ссылка"
                       [href]="(currentVideo)?.url || '#'">
        <label for="shikicinema-episode"></label>
        <input id="shikicinema-episode"
               maxlength="5"
               [(ngModel)]="urlParams.episode"
               (ngModelChange)="changeEpisode($event)"
               value="1">
      </app-control-box>
      <app-control-box subtext="Следующий">
        <button mat-button
                [disabled]="+urlParams.episode + 1 > (anime.episodes || anime.episodes_aired)"
                (click)="changeEpisode(+urlParams.episode + 1)">
          <mat-icon>fast_forward</mat-icon>
        </button>
      </app-control-box>
      <app-control-box subtext="Просмотрено"
                       *ngIf="(whoami$ | async) as user else sync"
                       [matTooltip]="watched(urlParams.episode)
                                      ? 'Убрать отметку о просмотре'
                                      : 'Отметить как просмотренную'"
                       matTooltipPosition="after"
                       matTooltipShowDelay="1000"
                       (click)="watched(urlParams.episode)
                                ? watch(anime, +currentVideo.episode - 1, user, 'Просмотр отменен')
                                : watch(anime, currentVideo.episode, user, 'Просмотрено')">
        <button mat-button
                [class.watched]="watched(urlParams.episode)">
          <mat-icon>done</mat-icon>
        </button>
      </app-control-box>
      <ng-template #sync>
        <app-control-box subtext="Шикимори"
                         matTooltip="Синхронизироваться с Шикимори"
                         matTooltipPosition="after"
                         matTooltipShowDelay="1000"
                         (click)="synchronize()">
          <button mat-button>
            <mat-icon>sync</mat-icon>
          </button>
        </app-control-box>
      </ng-template>

      <!-- those buttons will appear when related setting is on -->
      <ng-container *ngIf="settings.extraButtons else extraInMenu">
        <app-control-box subtext="Загрузить"
                         *ngIf="(whoami$ | async) else lockedUpload"
                         matTooltip="Загрузить видео"
                         matTooltipPosition="after"
                         matTooltipShowDelay="1000">
          <button mat-button (click)="openUploadForm()">
            <mat-icon>add</mat-icon>
          </button>
        </app-control-box>
        <ng-template #lockedUpload>
          <app-control-box subtext="Загрузить"
                           matTooltip="Требуется авторизация на Шикимори">
            <button mat-button disabled>
              <mat-icon>add</mat-icon>
            </button>
          </app-control-box>
        </ng-template>
        <app-control-box subtext="Настройки"
                         matTooltip="Настойки плагина"
                         matTooltipPosition="after"
                         matTooltipShowDelay="1000">
          <button mat-button routerLink="/settings">
            <mat-icon>settings_applications</mat-icon>
          </button>
        </app-control-box>
      </ng-container>

      <!-- those buttons hidden in dropdown menu -->
      <ng-template #extraInMenu>
        <mat-menu #extraButtonsMenu="matMenu">
          <button mat-menu-item
                  (click)="openUploadForm()">
            {{ isUploadOpened ? 'Закрыть форму' : 'Загрузить видео' }}
          </button>
          <button mat-menu-item routerLink="/settings">
            Настройки
          </button>
        </mat-menu>

        <app-control-box subtext="Меню"
                         matTooltip="Показать меню"
                         matTooltipPosition="after"
                         matTooltipShowDelay="1000">
          <button mat-button [matMenuTriggerFor]="extraButtonsMenu">
            <mat-icon>more_horiz</mat-icon>
          </button>
        </app-control-box>
      </ng-template>

    </div>

    <div>
      <div id="upload-form" *ngIf="isUploadOpened && (whoami$ | async) as user">
        <app-upload-video *ngIf="user && user.id"
                          (check)="changeVideo($event)"
                          [uploaderId]="user.id"
                          [animeId]="urlParams.animeId"
                          [episode]="urlParams.episode"></app-upload-video>
      </div>

      <ng-container *ngIf="videos.length > 0 && settings && videos
              | filterBy:['language']:filter.language
              | filterBy:['author']:filter.author
              | filterBy:['quality']:filter.quality
              | filterBy:['url']:filter.player
             as filteredVideos
             else videosEmpty">
        <div id="series" *ngIf="settings.oldFagApproves">
          <app-episodes-list *ngIf="unique$ | async as unique"
            [unique]="unique"
            (change)="changeEpisode($event)"
            [chosen]="currentVideo"></app-episodes-list>
          <app-video-list
            [videos]="filteredVideos"
            (change)="changeVideo($event)"
            [chosen]="currentVideo"></app-video-list>
        </div>
        <div *ngIf="!settings.oldFagApproves">
          <app-compact-video-list
            [videos]="filteredVideos"
            (change)="changeVideo($event)"
            [chosenId]="currentVideo.id"></app-compact-video-list>
        </div>
      </ng-container>
    </div>

  </ng-container>

  <ng-template #videosEmpty>
    <div class="centered note">В нашем архиве не нашлось ни одного видео T_T</div>
  </ng-template>
</div>

<app-notify></app-notify>
<app-server-status></app-server-status>
<app-uploader *ngIf="uploader" [uploadedByUser]="uploader"></app-uploader>
