@media (min-width: 1025px) {
  #player {
    margin-top: 10px;
    padding: 0 13%;
  }

  .material-icons.md-24 {
    font-size: 36px;
    font-weight: 500;
  }
  .control-box-subtext {
    font-size: 8pt;
  }
  .control-box {
    margin: 20px;
  }

}

@media (max-width: 1024px) and (orientation: landscape) {

  #shikicinema-episode + .control-box-subtext {
    margin-top: 6px;
  }

  .material-icons.md-24 {
    font-size: 32px;
    font-weight: 500;
  }
  .control-box-subtext {
    font-size: 7pt;
  }
  .control-box {
    margin: 5px;
  }

}

@media (max-width: 1024px) and (orientation: portrait) {

  .material-icons.md-24 {
    font-size: 32px;
    font-weight: 500;
  }
  .control-box-subtext {
    font-size: 7pt;
  }
  .control-box {
    margin: 0;
  }

}

#filters {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

#filters * {
  min-width: 32.5%;
  margin: 0 5px;
}

#controls {
  margin: 5px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  vertical-align: middle;
}

#series {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
}

#series * {
  width: 49%;
}

#upload-form {
  margin: 20px 0;
}

#shikicinema-episode {
  border: none;
  padding: 0;
  margin: 0;
  width: 87px;
  height: 36px;
  text-align: center;
}

.control-box-subtext {
  text-align: center;
}

.mdc-button {
  color: #333333;
  background-color: white;
}

.mdc-button:disabled {
  color: #999;
}

.watched {
  color: green;
}

app-notify {
  position: fixed;
  right: 0;
  top: 0;
}

app-uploader {
  position: absolute;
  right: 0;
  top: 0;
}

app-server-status {
  position: absolute;
  left: 0;
  top: 0;
}

.centered {
  text-align: center;
}
