@let hasTestedAvif = isSupportsAvif() !== undefined;

@if (!isLoading() && hasTestedAvif) {
    @for (rate of userAnimeRates(); track trackById($index, rate)) {
        @let animeId = rate.target_id;

        <app-card-grid-item
            class="anime-grid__item"
            height="100%"
            width="auto"
            [link]="animeId | getPlayerLink"
            [imageUrl]="animeId | getAnimePoster: isHiRes(): isSupportsAvif()"
            [name]="animeId | getAnimeName: currentLang() | async"
            [kind]="animeId | getAnimeKind | async"
            [releaseDate]="animeId | getAnimeReleaseDate | async"
            [hasPriority]="hasPriority()"
        />
    }
} @else {
    <ng-container [ngTemplateOutlet]="skeletonTemplate" />
}

<ng-template #skeletonTemplate>
    @for (_ of 30 | repeat; track $index) {
        <div class="anime-grid__item skeleton-item">
            <app-skeleton-block
                class="skeleton-item__img responsive-9by13"
                height="100%"
                width="auto"
                borderRadius="0.25rem"
            />

            <div class="skeleton-item__info">
                <app-skeleton-block
                    class="skeleton-item__text"
                    height="1.08rem"
                    width="100%"
                    borderRadius="0.25rem"
                />

                <div class="skeleton-item__footer">
                    <app-skeleton-block
                        class="skeleton-item__text"
                        height="0.8625rem"
                        width="3rem"
                        borderRadius="0.25rem"
                    />

                    <app-skeleton-block
                        class="skeleton-item__text"
                        height="0.8625rem"
                        width="2.5rem"
                        borderRadius="0.25rem"
                    />
                </div>
            </div>
        </div>
    }
</ng-template>
