<div>
  <button *ngIf="offset >= 29"
          (click)="offset = +offset - 29"
          title="Предыдущие эпизоды"
          mat-flat-button>
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button>
  <ul>
    <li *ngFor="let episode of (episodes | slice: offset: limit)"
        (click)="change.emit(+episode)"
        [class.selected]="chosen && episode == chosen.episode"
        [class.shc-links]="episode <= maxEpisodeAired"
        [matTooltip]="getEpisodeTooltip(episode)"
        matTooltipPosition="left">
      <span class="text">
        #{{ episode }}
      </span>

      <ng-container *ngIf="unique[episode]; else emptyEpisode">
        {{ unique[episode].kind.sort().join(', ') }}

        <span class="hostname">
          ({{ getUrlsSecondLvlDomain(unique[episode].url).sort().join(', ') }})
        </span>
      </ng-container>

      <ng-template #emptyEpisode>
        <span *ngIf="episode <= maxEpisodeAired">
          нет видео
        </span>

        <span *ngIf="episode > maxEpisodeAired"
              class="text highlighted">
          еще не вышло
        </span>
      </ng-template>
    </li>
  </ul>
  <button *ngIf="limit < (unique | keys).length"
          (click)="limit = +limit + 30"
          title="Следующие эпизоды"
          mat-flat-button>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
</div>
