li {
  list-style-type: none;
}

button {
  margin: 5px;
  width: 95%;
  background-color: #9999991A;
}

button:hover {
  background-color: #9999995A;
}

.text {
  cursor: pointer;
}

.selected .text.highlighted {
  color: var(--shc-interactive-text-color-selected);
}
