@use 'src/scss/mixins' as *;

.home-page {

    &__anime-rates {
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up('sm') {
            margin: .5rem;
        }

        @include media-breakpoint-up('md') {
            margin: 1.25rem;
        }

        @include media-breakpoint-up('lg') {
            margin: 1.5rem 5rem;
        }

        @include media-breakpoint-up('xl') {
            margin: 1.5rem 10rem;
        }
    }
}
