<ion-content [fullscreen]="true" class="page-content">
    <!-- recent visited (in player) animes -->
    <ng-template
        [ngTemplateOutlet]="animeRatesGrid"
        [ngTemplateOutletContext]="{
            label: 'HOME_MODULE.HOME_PAGE.GRIDS.RECENT',
            status: 'recent',
            rates: recent$ | async | sortRatesByDateVisited | slice: 0: 6,
            isLoaded: true,
        }"
    />

    <!-- user's rates from shikimori -->
    @for (grid of animeGrids; track $index) {
        <ng-template
            [ngTemplateOutlet]="animeRatesGrid"
            [ngTemplateOutletContext]="{
                label: 'HOME_MODULE.HOME_PAGE.GRIDS.' + (grid.status | uppercase),
                status: grid.status,
                rates: grid.rates | async,
                isLoaded: grid.isLoaded | async
            }"
        />
    }
</ion-content>

<ng-template
    #animeRatesGrid
    let-label="label"
    let-status="status"
    let-rates="rates"
    let-isLoaded="isLoaded"
>
    <section
        class="anime-rates"
        [id]="status"
        [class.ion-hide]="isSectionHidden(isLoaded, rates)"
        (ngxVisibility)="onSectionVisibilityChange(status, $event)"
    >
        <div class="anime-rates__label">
            <ion-text class="anime-rates__text">
                {{ label | transloco | uppercase }}

                @if (isLoaded) {
                    <span class="anime-rates__counter">({{ rates?.length || 0 }})</span>
                }
            </ion-text>

            <ion-button
                [fill]="'clear'"
                [size]="'small'"
                [color]="'medium'"
                (click)="toggleHiddenGridStatus(status)"
            >
                <ion-icon
                    class="anime-rates__icon"
                    slot="icon-only"
                    [name]="getHiddenGridStatus(status) ? 'chevron-down' : 'chevron-up'"
                />
            </ion-button>
        </div>

        <app-card-grid
            class="anime-rates__grid"
            [class.ion-hide]="getHiddenGridStatus(status)"
            [userAnimeRates]="rates"
            [isLoading]="!isLoaded"
        />
    </section>
</ng-template>
