<ion-content [fullscreen]="true" class="page-content ion-padding">
    @for (status of animeStatusOrder(); track status) {
        @let grid = animeGridMap.get(status);

        <app-anime-rate-section
            class="home-page__anime-rates"
            [label]="'HOME_MODULE.HOME_PAGE.GRIDS.' + (status | uppercase)"
            [status]="status"
            [rates]="grid.rates | async"
            [isLoaded]="grid.isLoaded | async"
            [isHidden]="getHiddenGridStatus(status)"
            (visible)="onSectionVisibilityChange(status)"
            (toggleHidden)="toggleHiddenGridStatus(status)"
        />
    }
</ion-content>
