@use 'src/scss/mixins' as *;

.home-page {

    &__filters {
        position: fixed;
        top: var(--shc-header-height);
        right: 0;
        bottom: 0;
        width: 33%;
        min-width: 320px;
        max-width: 450px;
        overflow-y: auto;
        z-index: 1;
        background: var(--ion-item-background);
        box-shadow: -2px 0 8px rgba(0,0,0,0.1);
        padding: 1rem;
    }

    &__content {
        &--with-filters {
            margin-right: 30%;

            .home-page__anime-rates {
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }
    }

    &__anime-rates {
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up('sm') {
            margin: .5rem;
        }

        @include media-breakpoint-up('md') {
            margin: 1.25rem;
        }

        @include media-breakpoint-up('lg') {
            margin: 1.5rem 5rem;
        }

        @include media-breakpoint-up('xl') {
            margin: 1.5rem 10rem;
        }
    }
}
