div {
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 24px;
}

div.flex {
  align-items: center;
  align-content: center;
}

div a {
  height: 100%;
  line-height: 24px;
}

.avatar {
  border-radius: 100%;
}
