<div class="flex">
  <ng-content></ng-content>
  <div class="flex">
    <button mat-icon-button
            [matMenuTriggerFor]="extraButtonsMenu">
      <img *ngIf="!user"
           src="https://shikimori.one/favicons/favicon-32x32.png"
           alt="to_shikimori"
           height="24px">
      <img *ngIf="user"
           [src]="user?.avatar"
           class="avatar"
           alt="user_avatar"
           height="24px">
    </button>
    <app-notifications-badge [notifications]="notifications"></app-notifications-badge>
    <mat-menu #extraButtonsMenu="matMenu">
      <button mat-menu-item
              (click)="openUrl(SHIKIMORI_URL + (anime ? anime.url : ''))"
              [title]="'Перейти на ' + (anime && anime.name ? 'страницу ' + anime.name : 'Shikimori')">
        {{ anime?.name || 'Shikimori' }}
      </button>
      <button mat-menu-item
              *ngIf="user"
              (click)="openUrl(SHIKIMORI_URL + '/' + user.nickname + '/list/anime')">
        Список аниме
      </button>
      <button mat-menu-item
              *ngIf="user"
              (click)="openUrl(SHIKIMORI_URL + '/' + user.nickname + '/list/manga')">
        Список манги
      </button>
      <button mat-menu-item
              (click)="openUrl('https://stats.uptimerobot.com/1Vq2RhpMyQ', '_blank')">
        Статус сервера
      </button>
      <button mat-menu-item
              routerLink="/settings">
        Настройки
      </button>
    </mat-menu>
  </div>
</div>
