.dark-theme :host div {
  background-color: #2e2e2e;
}

div {
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 24px;
}

app-notifications-badge {
  position: absolute;
  right: 6px;
  top: 14px;
  height: 12px;
  width: 12px;
  z-index: 10;
}

div.flex {
  align-items: center;
  align-content: center;
}

div a {
  height: 100%;
  line-height: 24px;
}

.avatar {
  border-radius: 100%;
}
