@media (min-width: 1025px) {

  .control-box-subtext {
    font-size: 8pt;
  }
  .control-box {
    margin: 20px 7px;
  }

}

@media (max-width: 1024px) and (orientation: landscape) {

  .control-box-subtext {
    font-size: 7pt;
  }
  .control-box {
    margin: 5px;
  }

}


@media (max-width: 1024px) and (orientation: portrait) {

  .control-box-subtext {
    font-size: 7pt;
  }
  .control-box {
    margin: 0;
  }

}

.control-box-subtext {
  text-align: center;
}
