.image-card {
    display: block;
    position: relative;
    background-size: auto, auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--ion-color-step-100);
}
