<article class="image-card">
    <a
        class="image-card__img"
        [title]="name"
        [class.ion-hide]="isLoading"
        [href]="link"
        [ngStyle]="{
            'background-image': 'url(' + imageUrl + ')',
            height: height,
            width: width
        }"
    ></a>
    <h2
        class="image-card__name"
        [class.ion-hide]="isLoading"
        [tooltip]="name"
        [positionV]="'top'"
        [arrow]="true"
        [ngStyle]="{
            'max-width': width
        }"
    >
        {{ name }}
    </h2>
    <footer
        class="image-card__other-info"
        [class.ion-hide]="isLoading"
    >
        <span>{{ 'GLOBAL.SHIKIMORI.ANIME_KINDS.' + (kind | uppercase) | transloco }}</span>
        <time [dateTime]="releaseDate">{{ releaseDate | date: 'YYYY' }}</time>
    </footer>
    <app-skeleton-block
        *ngIf="isLoading"
        [height]="height"
        [width]="width"
    ></app-skeleton-block>
    <img
        class="ion-hide"
        [src]="imageUrl"
        [alt]="link"
        (load)="onImageLoad()"
    />
</article>
