<div
    class="image-card__img"
    [class.ion-hide]="isLoading"
    [ngStyle]="{
        'background-image': 'url(' + imageUrl() + ')',
        'background-size': getBgSize(loadedImg$ | async | isImageWidthLarger),
        height: height(),
        width: width()
    }"
></div>

@if (isLoading) {
    <app-skeleton-block
        class="image-card__skeleton"
        [height]="height()"
        [width]="width()"
    />
}

<img
    class="ion-hide"
    [src]="imageUrl()"
    [alt]="name()"
    (load)="onImageLoad($event?.target)"
/>
