:host {
    display: block;
    width: fit-content;
}

.image-card {
    width: fit-content;

    &__img {
        display: block;
        position: relative;
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        background-color: var(--ion-color-step-100);
    }
}
