<div class="comment">
  <div class="comment-avatar">
    <ng-container *ngIf="userExists(comment?.user?.nickname); else deletedUserAvatar">
      <a [href]="'https://shikimori.me/' + comment?.user.nickname">
        <img [src]="comment?.user?.avatar"
             [alt]="comment?.user?.nickname"
             loading="lazy"
             height="48px" width="48px">
      </a>
    </ng-container>
    <ng-template #deletedUserAvatar>
      <img src="https://shikimori.me/favicon.ico"
           alt="deleted user"
           loading="lazy"
           height="48px" width="48px">
    </ng-template>
  </div>
  <div class="max-width">
    <div class="flex flex-start comment-tooltip">
      <div class="comment-info">
        <ng-container *ngIf="userExists(comment?.user?.nickname); else deletedUserNickname">
            <span>
              <a [href]="'https://shikimori.me/' + comment?.user.nickname"
                 class="shc-links">
                {{ comment?.user.nickname }}
              </a>
            </span>
        </ng-container>
        <div class="text smaller">
            <span>
              {{ comment?.lastUpdated | date: 'short' }}
            </span>
          <mat-icon *ngIf="comment?.isEdited"
                    [title]="'создано: ' + (comment?.created | date: 'short')"
                    class="small">edit</mat-icon>
        </div>
        <ng-template #deletedUserNickname>
          <a class="shc-links">DELETED USER</a>
        </ng-template>
      </div>
      <div *ngIf="showTooltips"
           class="flex flex-end">
        <a *ngIf="!preview"
           [href]="'https://shikimori.me/comments/' + comment.id"
           target="_blank"
           mat-icon-button>
          <span class="text medium">#</span>
        </a>
        <button (click)="addQuote(comment)"
                mat-icon-button>
          <mat-icon class="text medium">format_quote</mat-icon>
        </button>
        <button (click)="addReply(comment)"
                mat-icon-button>
          <mat-icon class="text medium">reply</mat-icon>
        </button>
        <ng-container *ngIf="comment.canBeEdited">
          <button (click)="delete.emit(comment)"
                  mat-icon-button>
            <mat-icon class="text medium red">delete</mat-icon>
          </button>
        </ng-container>
        <app-comment-badge *ngIf="preview"
                           type="preview"></app-comment-badge>
        <app-comment-badge *ngIf="comment.isOfftopic"
                           type="offtop"></app-comment-badge>
      </div>
    </div>
    <div [innerHTML]="comment?.html | safeHtml"
         class="text"></div>
  </div>
</div>
