.comment {
  min-width: 100px;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  padding: 15px 0;
}

.comment-avatar {
  padding: 5px;
  width: 48px;
  height: 48px;
  background-color: transparent;
}

.comment-avatar img {
  border-radius: 53px;
}

.comment-tooltip {
  justify-content: space-between;
}

.comment-info {
  padding: 5px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
}

.medium {
  font-size: medium;
}

.smaller {
  font-size: smaller;
}

.small {
  font-size: small;
}

.badge {
  display: inline-block;
}

.preview {
  padding: 0 5px;
  color: hsl(209, 100%, 65.1%);
  background-color: hsl(209, 100%, 90%);
  border: 1px solid hsl(209, 100%, 40%);
}
