.comment {
  min-width: 100px;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  padding: 15px 0;
}

.comment-avatar {
  padding: 5px;
  width: 48px;
  height: 48px;
  background-color: transparent;
}

.comment-avatar img {
  border-radius: 53px;
}

.comment-tooltip {
  justify-content: space-between;
}

.comment-info {
  padding: 5px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
}

.red {
  color: orangered;
}

.medium {
  font-size: medium;
}

.smaller {
  font-size: smaller;
}

.small {
  font-size: small;
}

.flex.flex-end {
  align-items: center;
  justify-items: center;
}

div.max-width div.text {
  word-wrap: anywhere;
}

@media (max-width: 640px) {
  app-comment-badge[type=preview] {
    display: none;
  }
}
