@use 'src/scss/mixins' as *;

$grid-side-columns-width: 10rem;
$grid-searchbar-column-width: 10fr;

.ion-toolbar {
  --background: transparent;
  --border-color: transparent;
}

.toolbar {
    display: flex;
    align-items: center;
    min-height: var(--shc-header-height);

    &__search {
        padding: 0 !important;
        margin-left: 1rem !important;
    }

    @include media-breakpoint-up('lg') {
        &__menu-btn {
            margin-left: auto;
        }

        &__search {
            margin: 0;
        }

        &__title {
            margin: 0 auto;

            a,
            a:active,
            a:visited {
                color: var(--ion-text-color);
            }
        }

        &__title,
        &__search,
        &__menu-btn {
            padding: 0;
        }
    }
}

.avatar-btn {
    --opacity: 1;
}

.user-item {

    &__avatar {
        border-radius: 100%;
        max-height: 38px;
        font-size: 38px;
    }
}

.menu-item {
    cursor: pointer;

    &--nolinks {
        cursor: default;
        user-select: none;
    }

    &__icon {

        &--rotated {
            transform: rotate(30grad);
            transform-origin: center top;
        }

        &--pull-right {
            margin-left: auto;
        }
    }

    &__label {

        &--with-icon {
            margin-left: 10px;
        }
    }
}
