@use 'src/scss/mixins' as *;

$grid-side-columns-width: 10rem;
$grid-searchbar-column-width: 10fr;

.header {
    &__toolbar-wrap {
        --background: transparent;
        --border-color: transparent;
    }
}

.toolbar {
    display: flex;
    align-items: center;
    gap: 1rem;

    margin: 0 .5rem;
    min-height: var(--shc-header-height);

    &__search {
        padding: 0 !important;

        & > .searchbar-input-container {
            --border-radius: var(--shc-border-radius);

            @include media-breakpoint-up('x2k') {
                min-height: 4.875rem;
            }
    
            @include media-breakpoint-up('x4k') {
                min-height: 6rem;
            }

            .searchbar-search-icon {
                @include media-breakpoint-up('x2k') {
                    width: 2.25rem;
                }

                @include media-breakpoint-up('x2k') {
                    width: 3rem;
                }
            }

            .searchbar-input {
                font-size: var(--shc-font-size);

                @include media-breakpoint-up('x2k') {
                    padding-inline-start: 3.25rem !important;
                }

                @include media-breakpoint-up('x2k') {
                    padding-inline-start: 4rem !important;
                }
            }
        }
    }

    &__menu-btn {
        cursor: pointer;
        max-height: 2.25rem;
        max-width: 2.25rem;
    }

    @include media-breakpoint-up('lg') {
        margin: 0 1.5rem;

        &__menu-btn {
            @include media-breakpoint-up('x2k') {
                max-height: 4.875rem;
                max-width: 4.875rem;
            }

            @include media-breakpoint-up('x2k') {
                max-height: 5.25rem;
                max-width: 5.25rem;
            }
        }

        &__search {
            margin: 0;
        }

        &__title {
            margin: 0 auto;

            a,
            a:active,
            a:visited {
                color: var(--ion-text-color);
            }
        }

        &__search,
        &__menu-btn {
            padding: 0;
        }
    }
}

.user-item {

    &__avatar {
        border-radius: 100%;
        max-height: 100%;
        width: 2.25rem;
        height: 2.25rem;

        &--img {
            max-width: fit-content;
        }

        @include media-breakpoint-up('x2k') {
            width: 4.875rem;
            height: 4.875rem;
        }

        @include media-breakpoint-up('x4k') {
            width: 5.25rem;
            height: 5.25rem;
        }
    }
}

.menu-popover {
    @include media-breakpoint-up('x2k') {
        --width: 30rem;
    }

    @include media-breakpoint-up('x4k') {
        --width: 35rem;
    }
}

.menu-item {
    cursor: pointer;

    &--nolinks {
        cursor: default;
        user-select: none;
    }

    &__icon {
        @include media-breakpoint-up('x2k') {
            width: 3.5rem;
            height: 3.5rem;
        }

        @include media-breakpoint-up('x4k') {
            width: 5rem;
            height: 5rem;
        }

        &--rotated {
            transform: rotate(30grad);
            transform-origin: center top;
        }

        &--pull-right {
            margin-left: auto;
        }
    }

    &__label {

        &--with-icon {
            margin-left: 10px;
        }
    }
}
