<!-- translucent не работает в mode="md" -->
<ion-header mode="ios" translucent="true">
    <ion-toolbar class="ion-toolbar">
        <div class="toolbar">
            <ion-searchbar
                #animeSearchbar
                id="anime-searchbar"
                class="toolbar__search"
                debounce="1000"
                (ionInput)="onAnimeSearch($event)"
                [placeholder]="'HOME_MODULE.HOME_PAGE.ANIME_SEARCHBAR_PLACEHOLDER' | transloco"
            />

            <ion-button
                id="menu-trigger"
                expand="full"
                fill="clear"
                color="medium"
                size="large"
                class="toolbar__menu-btn user-item avatar-btn"
                (auxclick)="toShikimoriProfilePage()"
            >
                @if (avatarImg()) {
                    <img
                        [src]="avatarImg()"
                        [alt]="nickname()"
                        class="user-item__avatar"
                    />
                } @else {
                    <ion-icon
                        class="user-item__avatar"
                        name="person-circle"
                    ></ion-icon>
                }
            </ion-button>
        </div>

        <ion-popover
            mode="md"
            trigger="anime-searchbar"
            triggerAction="context-menu"
            size="cover"
            side="bottom"
            alignment="center"
            arrow="false"
            keyboardClose="false"
            focusTrap="true"
            [isOpen]="isAnimeListPopoverOpen()"
            [showBackdrop]="false"
            (didPresent)="animeSearchbar.setFocus()"
            (didDismiss)="isAnimeListPopoverOpen.set(false)"
        >
            <ng-template>
                <app-searchbar-results
                    [results]="foundAnimes()"
                    [isLoading]="isSearchResultsLoading()"
                    [originalNameFirst]="!isSearchingInCyrillic()"
                    (openResult)="openResult($event)"
                />
            </ng-template>
        </ion-popover>

        <ion-popover
            #menuPopover
            mode="md"
            class="menu-popover"
            trigger="menu-trigger"
            triggerAction="click"
            side="bottom"
            alignment="end"
            (click)="menuPopover.dismiss()"
        >
            <ng-template>
                @if (currentUser(); as currentUser) {
                    <ng-template
                        [ngTemplateOutlet]="signedInUserMenuTemplate"
                        [ngTemplateOutletContext]="{ currentUser }"
                    ></ng-template>
                } @else {
                    <ng-template [ngTemplateOutlet]="noUserMenuTemplate"></ng-template>
                }
            </ng-template>
        </ion-popover>
    </ion-toolbar>
</ion-header>

<ng-template
    #signedInUserMenuTemplate
    let-currentUser="currentUser"
>
    <ion-content>
        <ion-list>
            <ion-item
                class="menu-item"
                [routerLink]="['home']"
            >
                <ion-icon
                    class="menu-item__icon"
                    icon="film-outline"
                ></ion-icon>
                <ion-text class="menu-item__label menu-item__label--with-icon">
                    {{ 'GLOBAL.HEADER.TOOLBAR_MENU.ANIME_LIST' | transloco }}
                </ion-text>
                <ion-button
                    class="menu-item__icon menu-item__icon--pull-right"
                    expand="block"
                    fill="solid"
                    size="small"
                    [routerLink]="[ '/external' ]"
                    [queryParams]="{ link: (currentUser.url + '/list/anime') | b64encode }"
                    [skipLocationChange]="true"
                    (click)="$event.stopPropagation()"
                >
                    <ion-icon
                        icon="open-outline"
                    ></ion-icon>
                </ion-button>
            </ion-item>

            <ion-item
                class="menu-item menu-item--nolinks"
                [button]="true"
                [disabled]="true"
            >
                <ion-icon
                    class="menu-item__icon"
                    icon="library-outline"
                ></ion-icon>
                <ion-text class="menu-item__label menu-item__label--with-icon">
                    {{ 'GLOBAL.HEADER.TOOLBAR_MENU.MANGA_LIST' | transloco }}
                </ion-text>
                <ion-button
                    class="menu-item__icon menu-item__icon--pull-right"
                    expand="block"
                    fill="solid"
                    size="small"
                    [routerLink]="[ '/external' ]"
                    [queryParams]="{ link: (currentUser.url + '/list/manga') | b64encode }"
                    [skipLocationChange]="true"
                    (click)="$event.stopPropagation()"
                >
                    <ion-icon
                        icon="open-outline"
                    ></ion-icon>
                </ion-button>
            </ion-item>

            <ion-item
                class="menu-item"
                [routerLink]="['settings']"
            >
                <ion-icon
                    class="menu-item__icon"
                    icon="settings-outline"
                ></ion-icon>
                <ion-text class="menu-item__label menu-item__label--with-icon">
                    {{ 'GLOBAL.HEADER.TOOLBAR_MENU.SETTINGS' | transloco }}
                </ion-text>
            </ion-item>

            <ion-item
                class="menu-item"
                id="languages-popover"
                [button]="true"
            >
                <ion-icon
                    class="menu-item__icon"
                    icon="language-outline"
                ></ion-icon>
                <ion-text class="menu-item__label menu-item__label--with-icon">
                    {{ 'GLOBAL.HEADER.TOOLBAR_MENU.LANGUAGE' | transloco }}
                </ion-text>
            </ion-item>

            @if (theme() !== 'custom') {
                <ion-item class="menu-item">
                    <ion-toggle
                        labelPlacement="end"
                        justify="start"
                        [checked]="theme() === 'dark'"
                        (ionChange)="onChangeTheme()"
                    >
                        {{ 'GLOBAL.HEADER.TOOLBAR_MENU.THEME_TOGGLE.' + (theme() | uppercase) | transloco }}
                    </ion-toggle>
                </ion-item>
            }

            <ion-item
                color="danger"
                class="menu-item"
                [button]="true"
                [disabled]="true"
                (click)="shikimoriLogout()"
            >
                <ion-icon
                    class="menu-item__icon"
                    icon="close-outline"
                ></ion-icon>
                <ion-text class="menu-item__label menu-item__label--with-icon">
                    {{ 'GLOBAL.HEADER.TOOLBAR_MENU.EXIT' | transloco }}
                </ion-text>
            </ion-item>
        </ion-list>
    </ion-content>

    <ng-template [ngTemplateOutlet]="languagesPopover"></ng-template>
</ng-template>

<ng-template
    #noUserMenuTemplate
>
    <ion-content>
        <ion-list>
            <ion-item
                class="menu-item menu-item--nolinks"
                [button]="true"
                (click)="shikimoriLogin()"
            >
                <ion-icon
                    class="menu-item__icon"
                    icon="log-in-outline"
                ></ion-icon>
                <ion-text class="menu-item__label menu-item__label--with-icon">
                    {{ 'GLOBAL.HEADER.TOOLBAR_MENU.SIGN_IN' | transloco }}
                </ion-text>
            </ion-item>

            <ion-item
                class="menu-item"
                [routerLink]="['settings']"
            >
                <ion-icon
                    class="menu-item__icon"
                    icon="settings-outline"
                ></ion-icon>
                <ion-text class="menu-item__label menu-item__label--with-icon">
                    {{ 'GLOBAL.HEADER.TOOLBAR_MENU.SETTINGS' | transloco }}
                </ion-text>
            </ion-item>

            <ion-item
                class="menu-item"
                id="languages-popover"
                [button]="true"
            >
                <ion-icon
                    class="menu-item__icon"
                    icon="language-outline"
                ></ion-icon>
                <ion-text class="menu-item__label menu-item__label--with-icon">
                    {{ 'GLOBAL.HEADER.TOOLBAR_MENU.LANGUAGE' | transloco }}
                </ion-text>
            </ion-item>

            <ion-item class="menu-item">
                <ion-toggle
                    labelPlacement="end"
                    justify="start"
                    [checked]="theme() === 'dark'"
                    (ionChange)="onChangeTheme()"
                >
                    {{ 'GLOBAL.HEADER.TOOLBAR_MENU.THEME_TOGGLE.' + (theme() | uppercase) | transloco }}
                </ion-toggle>
            </ion-item>

            <ion-item
                color="danger"
                class="menu-item"
                [button]="true"
                [disabled]="true"
            >
                <ion-icon
                    class="menu-item__icon"
                    icon="close-outline"
                ></ion-icon>
                <ion-text class="menu-item__label menu-item__label--with-icon">
                    {{ 'GLOBAL.HEADER.TOOLBAR_MENU.EXIT' | transloco }}
                </ion-text>
            </ion-item>
        </ion-list>
    </ion-content>

    <ng-template [ngTemplateOutlet]="languagesPopover"></ng-template>
</ng-template>

<ng-template #languagesPopover>
    <ion-popover trigger="languages-popover" side="start" [dismissOnSelect]="true">
        <ng-template>
            <ion-content>
                @for (lang of availableLangs; track $index) {
                    <ion-list>
                        <ion-item [button]="true" (click)="onChangeLanguage(lang)">
                            {{ 'GLOBAL.LANGUAGES.' + (lang | uppercase) | transloco }}
                        </ion-item>
                    </ion-list>
                }
            </ion-content>
        </ng-template>
    </ion-popover>
</ng-template>
