<div *ngIf="!isHidden" class="franchise-title">
  <span class="text franchise-title" (click)="showFranchiseList = !showFranchiseList"><b>{{ showFranchiseList ? '−' : '+' }} Это аниме состоит из:</b></span>
</div>
<div *ngIf="showFranchiseList" class="franchise-container">
  <ul class="franchise-list">
    <li *ngFor="let franchise of franchiseData; let i=index;" class="franchise-list-item" [ngClass]="{'hovered': franchiseHovered === franchise.id, 'current-hovered': franchiseHovered === franchise.id && franchise.id === currentAnimeId, 'current': franchise.id === currentAnimeId}">
      <div class="marker-list" [ngClass]="{ 'marker-list-adjusted': i >= 9 }">
        <span class="marker">{{ i + 1 }}.</span>
      </div>
      <a class="franchise-link"
        (click)="openFranchise(franchise.id, franchise.episodes, franchise.episodesAired)"
        (mouseenter)="franchiseHovered = franchise.id"
        (mouseleave)="franchiseHovered = null">
        {{ franchise.russian }} [{{ franchise.kind }}{{ franchise.kind === 'ТВ' ? '-' + franchise.e : '' }}]
        <span *ngIf="franchise.status === 'ongoing'">- ({{ franchise.episodesAired }}+ эп.)</span>
        <span *ngIf="franchise.status === 'released' && franchise.episodes > 1">- ({{ franchise.episodes }} эп.)</span>
        <span *ngIf="franchise.kind === 'ТВ' && franchise.e > 1"> продолжение</span>
        <span *ngIf="franchise.kind === 'ТВ' && franchise.e === 1"> адаптация манги</span>
      </a>
    </li>
  </ul>
</div>
