.franchise-title {
  margin-bottom: 12px;
  margin-top: 30px; 
}
b {
  font-size: 11pt;
  cursor: pointer;
}

.franchise-list {
  margin-bottom: 30px;
}

.franchise-link {
  cursor: pointer;
  color: #317aad; 
  text-decoration: none; 
}

ul {
  list-style-type: none; 
  padding-left: 0;
  margin: 0;
}

.franchise-list-item {
  margin-left: 35px;
  display: flex;
  align-items: flex-end;
}

.marker-list {
  margin-right: 5px;
}

.marker {
  display: block;
  user-select: none;
}

.check_mark {
  color: #16c60c;
}

.x_mark {
  color: #f03a17;
}

.watch_mark {
  color: #ff9231;
}

.repeat_mark {
  color: #ff9231;
}

.hovered .franchise-link {
  color: #dd5202;
}

.current .franchise-link {
  color: #b34100;
}

.current-hovered .franchise-link {
  color: #dd5202;
}
