<div>
  <b>Эпизоды</b>
  <ul *ngFor="let episode of (getEpisodes() | slice: 0:limit)">
    <li class="shc-links" [class.selected]="episode == chosen.episode" (click)="change.emit(+episode)">
      <span class="text">
        #{{ episode }}
      </span>

      {{ unique[episode].kind.sort().join(', ') }}

      <span class="hostname">
        ({{ getUrlsSecondLvlDomain(unique[episode].url).sort().join(', ') }})
      </span>
    </li>
  </ul>
  <button *ngIf="limit < getEpisodes().length"
          (click)="limit = limit + 30"
          title="Следующие эпизоды"
          mat-flat-button>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
</div>
