<app-kind-selector
    class="player-selector__kind"
    [kinds]="episodeVideos() | getActiveKinds"
    [selected]="kind()"
    (selection)="onKindChange($event)"
/>

<app-video-selector
    class="player-selector__video-selector"
    [videos]="episodeVideos() | filterByKind: kind()"
    [selected]="selectedVideo()"
    [kindDisplayMode]="playerKindDisplayMode()"
    [warnAvailability]="availability()"
    [hasUnfilteredVideos]="hasUnfilteredVideos()"
    (selection)="onVideoChange($event)"
    (disableFilters)="onDisableDomainFilters()"
/>
