<div id="comments-section">
  <ng-container *ngIf="anyVisibleComment; else noComments">
    <button *ngIf="comments?.length >= newCommentsCount"
            (click)="hasNextPage ? nextPage.emit() : toggleComments()"
            class="max-width text"
            mat-flat-button>
      {{
          hasNextPage ? 'Загрузить еще ' +
            (totalCommentsRemaining > newCommentsCount ? newCommentsCount : totalCommentsRemaining)
          + ' комментариев' : (commentsHidden ? 'Раскрыть' : 'Скрыть') + ' комментарии'
      }}
      {{
          (totalCommentsRemaining > 0 && totalCommentsRemaining > newCommentsCount && hasNextPage)
            ? 'из ' + totalCommentsRemaining
            : ''
      }}
    </button>
    <app-comment *ngFor="let comment of comments
        | orderBy: 'created'
        | tail: getTail();
          trackBy: trackComment"
                 [id]="'comment-' + comment.id"
                 [comment]="comment"
                 [class.hidden]="deletedCommentsIds.has(comment.id)"
                 (delete)="delete($event)"
                 (quote)="quote.emit($event)"
                 (reply)="reply.emit($event)"></app-comment>
  </ng-container>
  <ng-template #noComments>
    <div id="no-comments"
         class="comment text">
      Нет комментариев <app-smilley smiley=":Im dead:"></app-smilley>
    </div>
  </ng-template>
</div>

<app-bubble-view *ngFor="let bubble of bubbledComments; index as i"
                 [class.hidden]="bubble.hidden"
                 [comment]="bubble.data"
                 [coordinates]="bubble.coordinates"
                 [ngStyle]="{ 'z-index': bubble.zIndex }"
                 (mouseenter)="stopBubbleDestroyTimeout(bubble)"
                 (mouseleave)="startBubbleDestroyTimeout(bubble)"
                 (reply)="reply.emit($event)"
                 (hide)="hideBubble(bubble)"></app-bubble-view>

<ng-container *ngIf="imgLink">
  <div (click)="closeImg()"
    class="view-img flex flex-column">
    <img *ngIf="!imgBroken"
         [src]="imgLink"
         (load)="onImageLoad()"
         (error)="imgNotLoaded()"
         alt="image viewer">
    <mat-progress-spinner *ngIf="isImgLoading && !imgBroken"
                          mode="indeterminate"></mat-progress-spinner>
    <div *ngIf="imgBroken"
         class="text">
      <b>Изображение было перемещено или удалено</b>
    </div>
  </div>
</ng-container>
