
.dark-theme :host #comments-section {
  background-color: #2e2e2e;
}

.hidden {
  display: none;
}

app-comment {
  display: block;
  border-top: 1px dashed #777;
}

button {
  background-color: #f9f9f9;
}
@keyframes flash-background {
  0% {
    background-color: #0000;
  }
  50% {
    background-color: #DD5202AA;
  }
  100% {
    background-color: #0000;
  }
}

.flashing-comment {
  animation: flash-background 1s ease-in-out;
}

.dark-theme button {
  background-color: #7777;
}

div.view-img {
  top: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
  z-index: 20;
  background: #0007;
  width: 100vw;
  height: 100vh;
}

div.view-img img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  box-sizing: border-box;
  padding: 40px 0;
  margin: 0 auto;
}

div.view-img * {
  color: white;
  text-align: center;
}
