<div class="control-panel__controls"
    [class.control-panel__controls--minified]="isMinified">
    <ion-button class="control-panel__btn" fill="outline"
        (click)="onEpisodeControlsClick(selected, 'backward')">
        <ion-icon slot="icon-only" name="play-back-outline" />
    </ion-button>

    <ion-item lines="none" class="control-panel__episode-wrapper">
        <ion-input class="control-panel__episode"
                aria-label="episode"
                #episodeInputEl
                [value]="selected"
                (ionInput)="onEpisodeInput($event)"
        />
    </ion-item>

    <ion-button class="control-panel__btn" fill="outline"
        (click)="onEpisodeControlsClick(selected, 'forward')">
        <ion-icon slot="icon-only" name="play-forward-outline" />
    </ion-button>

    <ion-button class="control-panel__btn watch-btn" fill="outline"
        [class.watch-btn--watched]="isWatched"
        (click)="onWatch(selected)">
        @if (isRewatching) {
            <ion-icon slot="icon-only" name="checkmark-done-outline" />
        } @else {
            <ion-icon slot="icon-only" name="checkmark-outline" />
        }
    </ion-button>

    @if (isMinified) {
        <ion-button class="control-panel__btn" fill="outline"
            (click)="onOpenEpisodeSelectorModal()">
            <ion-icon slot="icon-only" name="list-outline" />
        </ion-button>

        <ion-button class="control-panel__btn" fill="outline" disabled>
            <ion-icon slot="icon-only" name="settings-outline" />
        </ion-button>
    }
</div>

@if (!isMinified) {
    <app-episode-selector class="control-panel__episode-selector"
                        [episodes]="episodes"
                        [selected]="selected"
                        [maxEpisode]="maxEpisode"
                        [maxWatchedEpisode]="maxWatchedEpisode"
                        (selection)="onEpisodeChange($event)"
    />
}
