<div>
  <form>
    <mat-form-field class="textarea">
      <div class="flex flex-start">
        <button class="text"
                matTooltip="Жирный"
                matTooltipPosition="above"
                mat-icon-button>
          <mat-icon>format_bold</mat-icon>
        </button>
        <button class="text"
                matTooltip="Курсив"
                matTooltipPosition="above"
                mat-icon-button>
          <mat-icon>format_italic</mat-icon>
        </button>
        <button class="text"
                matTooltip="Подчеркнутый"
                matTooltipPosition="above"
                mat-icon-button>
          <mat-icon>format_underlined</mat-icon>
        </button>
        <button class="text"
                matTooltip="Зачеркнутый"
                matTooltipPosition="above"
                mat-icon-button>
          <mat-icon>strikethrough_s</mat-icon>
        </button>
        <div class="separator"></div>
        <button class="text"
                matTooltip="Вставить ссылку"
                matTooltipPosition="above"
                mat-icon-button>
          <mat-icon>insert_link</mat-icon>
        </button>
        <button class="text"
                matTooltip="Вставить картинку"
                matTooltipPosition="above"
                mat-icon-button>
          <mat-icon>insert_photo</mat-icon>
        </button>
        <button class="text"
                matTooltip="Вставить цитату"
                matTooltipPosition="above"
                mat-icon-button>
          <mat-icon>format_quote</mat-icon>
        </button>
        <button class="text"
                matTooltip="Спойлер"
                matTooltipPosition="above"
                mat-icon-button>
          <mat-icon>error_outline</mat-icon>
        </button>
        <button class="text"
                matTooltip="Смайлик"
                matTooltipPosition="above"
                mat-icon-button>
          <mat-icon>sentiment_satisfied_alt</mat-icon>
        </button>
      </div>

      <textarea rows="10"
                matNativeControl></textarea>
    </mat-form-field>
  </form>
</div>
