<app-comment *ngIf="commentForm.dirty && isShowPreview"
             [comment]="comment(bbComment)"
             preview="true"></app-comment>
<div>
  <div id="format-tools">
    <div id="format-tools-buttons"
         class="flex flex-start">
      <button (click)="bold()"
              [disabled]="commentForm.disabled"
              class="text"
              matTooltip="Жирный"
              matTooltipPosition="above"
              mat-icon-button>
        <mat-icon>format_bold</mat-icon>
      </button>
      <button (click)="italic()"
              [disabled]="commentForm.disabled"
              class="text"
              matTooltip="Курсив"
              matTooltipPosition="above"
              mat-icon-button>
        <mat-icon>format_italic</mat-icon>
      </button>
      <button (click)="underline()"
              [disabled]="commentForm.disabled"
              class="text"
              matTooltip="Подчеркнутый"
              matTooltipPosition="above"
              mat-icon-button>
        <mat-icon>format_underlined</mat-icon>
      </button>
      <button (click)="strike()"
              [disabled]="commentForm.disabled"
              class="text"
              matTooltip="Зачеркнутый"
              matTooltipPosition="above"
              mat-icon-button>
        <mat-icon>strikethrough_s</mat-icon>
      </button>

      <div class="separator"></div>

      <button (click)="isLinkSectionOpen ? close() : openLinkSection()"
              [color]="isLinkSectionOpen ? 'accent' : 'primary'"
              [disabled]="commentForm.disabled"
              class="text"
              matTooltip="Вставить ссылку"
              matTooltipPosition="above"
              mat-icon-button>
        <mat-icon>insert_link</mat-icon>
      </button>
      <button (click)="isImageSectionOpen ? close() : openImageSection()"
              [color]="isImageSectionOpen ? 'accent' : 'primary'"
              [disabled]="commentForm.disabled"
              class="text"
              matTooltip="Вставить картинку"
              matTooltipPosition="above"
              mat-icon-button>
        <mat-icon>insert_photo</mat-icon>
      </button>
      <button (click)="isQuotesSectionOpen ? close() : openQuotesSection()"
              [color]="isQuotesSectionOpen ? 'accent' : 'primary'"
              [disabled]="commentForm.disabled"
              class="text"
              style="display: none"
              matTooltip="Вставить цитату"
              matTooltipPosition="above"
              mat-icon-button>
        <mat-icon>format_quote</mat-icon>
      </button>
      <button (click)="spoiler()"
              [disabled]="commentForm.disabled"
              class="text"
              matTooltip="Спойлер"
              matTooltipPosition="above"
              mat-icon-button>
        <mat-icon>error_outline</mat-icon>
      </button>
      <button (click)="isSmileysSectionOpen ? close() : openSmileys()"
              [color]="isSmileysSectionOpen ? 'accent' : 'primary'"
              [disabled]="commentForm.disabled"
              class="text"
              matTooltip="Смайлик"
              matTooltipPosition="above"
              mat-icon-button>
        <mat-icon>sentiment_satisfied_alt</mat-icon>
      </button>
      <app-comment-badge type="offtop"
                         (click)="toggleOfftop()"
                         [toggleable]="true"
                         [on]="isOfftop"></app-comment-badge>
    </div>

    <!-- LINK INSERTION -->
    <ng-container *ngIf="isLinkSectionOpen">
      <div class="flex flex-start bb-helpers">
        <form id="add-link-form"
              [formGroup]="addLinkForm"
              (ngSubmit)="link(addLinkForm.value)"
              class="max-width">

          <mat-form-field>
            <mat-label>URL</mat-label>
            <input formControlName="href"
                   class="text max-width"
                   matInput
                   required>
            <mat-error>
              Необходима ссылка на web-ресурс
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Текст ссылки</mat-label>
            <input formControlName="name"
                   class="text max-width"
                   type="text"
                   matInput>
          </mat-form-field>

          <button [disabled]="addLinkForm.invalid && addLinkForm.touched"
                  color="{{ addLinkForm.invalid && addLinkForm.touched ? 'warn' : 'primary' }}"
                  type="submit"
                  mat-icon-button>
            <mat-icon>chevron_right</mat-icon>
          </button>

        </form>
      </div>
    </ng-container>

    <!-- IMAGE INSERTION -->
    <ng-container *ngIf="isImageSectionOpen">
      <div class="flex flex-start bb-helpers">
        <form id="add-image-section"
              [formGroup]="addImageForm"
              (ngSubmit)="image(addImageForm.value)"
              class="max-width">

          <mat-form-field>
            <mat-label>Ссылка на изображение</mat-label>
            <input formControlName="imageSrc"
                   class="text max-width"
                   matInput
                   required>
            <mat-error>
              Необходима ссылка на web-ресурс
            </mat-error>
          </mat-form-field>

          <button [disabled]="addImageForm.invalid && addImageForm.touched"
                  color="{{ addImageForm.invalid && addImageForm.touched ? 'warn' : 'primary' }}"
                  type="submit"
                  mat-icon-button>
            <mat-icon>chevron_right</mat-icon>
          </button>

        </form>
      </div>
    </ng-container>

    <!-- QUOTES INSERTION -->
    <ng-container *ngIf="isQuotesSectionOpen">
      <form id="add-quotes-section"
            [formGroup]="addQuotesForm"
            (ngSubmit)="addQuote(addQuotesForm.value)">

        <mat-form-field>
          <mat-label>Цитировать пользователя</mat-label>
          <input formControlName="nickname"
                 class="text max-width"
                 autocomplete="off"
                 list="users-from-comments"
                 matInput
                 required>
          <mat-error>Необходимо указать ник пользователя</mat-error>
        </mat-form-field>

        <button [disabled]="addQuotesForm.invalid && addQuotesForm.touched"
                color="{{ addQuotesForm.invalid && addQuotesForm.touched ? 'warn' : 'primary' }}"
                type="submit"
                mat-icon-button>
          <mat-icon>chevron_right</mat-icon>
        </button>

      </form>

      <datalist id="users-from-comments">
        <option *ngFor="let user of users">{{ user }}</option>
      </datalist>
    </ng-container>

    <!-- DAMN HUGE BLOCK WITH SHIKIMORI's SMILEYS -->
    <ng-container *ngIf="isSmileysSectionOpen">
      <div class="smileys-row">
        <app-smilley (pick)="addSmiley($event)" smiley=":)"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":D"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":-D"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":lol:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":ololo:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":evil:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley="+_+"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":cool:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":thumbup:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":yahoo:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":tea2:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":star:"></app-smilley>
      </div>
      <div class="smileys-row">
        <app-smilley (pick)="addSmiley($event)" smiley=":oh:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":shy:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":shy2:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":hurray:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":-P"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":roll:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":!:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":watching:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":love:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":love2:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":bunch:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":perveted:"></app-smilley>
      </div>
      <div class="smileys-row">
        <app-smilley (pick)="addSmiley($event)" smiley=":("></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":very sad:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":depressed:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":depressed2:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":hopeless:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":very sad2:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":-("></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":cry:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":cry6:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":Cry2:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":Cry3:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":Cry4:"></app-smilley>
      </div>
      <div class="smileys-row">
        <app-smilley (pick)="addSmiley($event)" smiley=":-o"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":shock:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":shock2:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":scream:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":dont want:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":noooo:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":scared:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":shocked2:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":shocked3:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":shocked4:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":tea shock:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":frozen3:"></app-smilley>
      </div>
      <div class="smileys-row">
        <app-smilley (pick)="addSmiley($event)" smiley=":angry4:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":revenge:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":evil2:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":twisted:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":angry:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":angry3:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":angry5:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":angry6:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":cold:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":strange4:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":ball:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":evil3:"></app-smilley>
      </div>
      <div class="smileys-row">
        <app-smilley (pick)="addSmiley($event)" smiley=":8):"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":oh2:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":ooph:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":wink:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":dunno:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":dont listen:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":hypno:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":advise:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":bored:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":disappointment:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":hunf:"></app-smilley>
      </div>
      <div class="smileys-row">
        <app-smilley (pick)="addSmiley($event)" smiley=":hot:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":hot2:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":hot3:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":stress:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":strange3:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":strange2:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":strange1:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":strange:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":hope:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":hope3:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":diplom:"></app-smilley>
      </div>
      <div class="smileys-row">
        <app-smilley (pick)="addSmiley($event)" smiley=":hi:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":bye:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":sleep:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":bow:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":Warning:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":Ban:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":Bath2:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":Im dead:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":sick:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":s1:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":s3:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":s2:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":happy_cry:"></app-smilley>
      </div>
      <div class="smileys-row">
        <app-smilley (pick)="addSmiley($event)" smiley=":ill:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":sad2:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":bullied:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":bdl2:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":Happy Birthday:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":flute:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":cry5:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":gaze:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":hope2:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":sleepy:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":study:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":study2:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":study3:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":gamer:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":animal:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":caterpillar:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":cold2:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":shocked:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":frozen:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":frozen2:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":kia:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":interested:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":happy:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":happy3:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":water:"></app-smilley>
      </div>
      <div class="smileys-row">
        <app-smilley (pick)="addSmiley($event)" smiley=":dance:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":liar:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":prcl:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":play:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":s4:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":s:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":bath:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":kiss:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":whip:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":relax:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":smoker:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":smoker2:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":bdl:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":cool2:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":V:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":V2:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":V3:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":sarcasm:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":angry2:"></app-smilley>
        <app-smilley (pick)="addSmiley($event)" smiley=":kya:"></app-smilley>
      </div>
    </ng-container>
  </div>
  <form [formGroup]="commentForm"
        (ngSubmit)="onCommentSubmit()"
        #commentFormElement>
    <mat-form-field class="textarea">
      <textarea #userComment
                (input)="updateCommentForm()"
                rows="10"
                formControlName="comment"
                matInput required></textarea>
      <mat-error>Комментарий не может быть пустым</mat-error>
    </mat-form-field>


    <div class="flex flex-end">
      <button *ngIf="commentForm.dirty"
              (click)="togglePreview()"
              type="button"
              mat-flat-button>
        {{ isShowPreview ? 'Скрыть превью' : 'Показать превью' }}
      </button>
      <div class="separator"></div>
      <button [disabled]="commentForm.invalid || commentForm.disabled"
              [color]="commentForm.enabled && commentForm.valid ? 'accent' : 'primary'"
              type="submit"
              mat-flat-button>
        Написать
      </button>
    </div>
  </form>
</div>
