@media (max-width: 1025px) {

  @media (orientation: landscape) {
    .shrug {
      width: 300px;
    }
    :host {
      --font-size: 20px
    }
  }

  @media (orientation: portrait) {
    .shrug {
      width: 150px;
    }
    :host {
      --font-size: 15px
    }
  }
}

@media (min-width: 1025px) {
  :host {
    --font-size: 40px
  }

  .shrug {
    width: 400px;
  }
}

lib-ngx-responsive-embed {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

iframe {
  overflow: hidden;
  background-color: #000;
}

.larger {
  font-size: var(--font-size);
  margin-top: 10px;
}

.smaller {
  font-size: calc(var(--font-size) / 2);
}

.shrug {
  position: absolute;
  bottom: 0;
}

@keyframes progress {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

.skeleton {
  position: relative;
  background-color: #eee;
}

.skeleton:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background: linear-gradient(90deg, #eee, #9992, #eee);
  animation: progress 1s ease-in-out infinite;
}

.dark-theme :host .skeleton {
  background-color: #333;
}

.dark-theme :host .skeleton:after {
  background: linear-gradient(90deg, #333, #555E, #333);
}
