<lib-ngx-responsive-embed class="ratio-16by9"
                          [class.skeleton]="!(timeout$ | async)"
                          [ngSwitch]="true">
  <iframe allowfullscreen *ngSwitchCase="!!videoUrl" [src]="videoUrl"></iframe>
  <iframe allowfullscreen *ngSwitchCase="!!video && !!video.url" [src]="video.url | safeVideoUrl"></iframe>
  <ng-container *ngSwitchDefault>
    <ng-container *ngIf="(timeout$ | async)">
      <div class="larger">Здесь пока ничего нет (╯ ° □ °) ╯ ┻━┻</div>
      <div class="smaller">пожалуйста, воспользуйтесь кнопкой загрузки</div>
      <img class="shrug" src="assets/shrug-chan.png" alt="shrug-chan">
    </ng-container>
  </ng-container>
</lib-ngx-responsive-embed>
