<lib-ngx-responsive-embed class="ratio-16by9" [ngSwitch]="true">
  <iframe allowfullscreen *ngSwitchCase="!!videoUrl" [src]="videoUrl"></iframe>
  <iframe allowfullscreen *ngSwitchCase="!!video && !!video.url" [src]="video.url | safeVideoUrl"></iframe>
  <ng-container *ngSwitchDefault>
    <div class="larger">Здесь пока ничего нет (╯ ° □ °) ╯ ┻━┻</div>
    <div class="smaller">пожалуйста, воспользуйтесь кнопкой загрузки</div>
    <img class="shrug" src="assets/shrug-chan.png" alt="shrug-chan">
  </ng-container>
</lib-ngx-responsive-embed>
