<mat-form-field *ngIf="unique && episode && unique[episode]">
  <mat-label i18n="@@filterName">
    { placeholder, select, author {Студия} language {Язык} quality {Качество} url {Плеер} }
  </mat-label>
  <mat-select>
    <mat-option (click)="onChange(null)"
                i18n="@@filterName">
      { placeholder, select, author {Студия} language {Язык} quality {Качество} url {Плеер} }
    </mat-option>
    <mat-option *ngFor="let value of getColumns()"
                [value]="value"
                (click)="onChange(value)" i18n="@@filterValues">
      { value, select,
          english {английский}
          original {оригинальный}
          russian {русский}
          unknown { {{ column === 'language' ? 'неизвестный' : 'неизвестно' }} }
          other { {{ value }} }
      }
    </mat-option>
  </mat-select>
</mat-form-field>
