<ion-content [fullscreen]="true" class="ion-padding page-content">
    <form class="settings-page__form" [formGroup]="settingsForm">
        <!-- Общие Настройки -->
        <app-settings-group
            class="settings-page__section"
            icon="settings-outline"
            [title]="'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.GENERAL.TITLE' | transloco"
        >
            <ion-select
                formControlName="language"
                interface="popover"
                fill="outline"
                labelPlacement="floating"
                [label]="'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.GENERAL.LANGUAGE.LABEL' | transloco"
            >
                @for (lang of availableLangs; track $index) {
                    <ion-select-option [value]="lang">
                        {{ 'GLOBAL.LANGUAGES.' + (lang | uppercase) | transloco }}
                    </ion-select-option>
                }
            </ion-select>

            <ion-select
                formControlName="theme"
                interface="popover"
                fill="outline"
                labelPlacement="floating"
                [label]="'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.GENERAL.THEME.LABEL' | transloco"
            >
                <ion-select-option value="light">
                    {{ 'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.GENERAL.THEME.OPTIONS.LIGHT' | transloco }}
                </ion-select-option>

                <ion-select-option value="dark">
                    {{ 'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.GENERAL.THEME.OPTIONS.DARK' | transloco }}
                </ion-select-option>

                <ion-select-option value="custom">
                    {{ 'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.GENERAL.THEME.OPTIONS.CUSTOM' | transloco }}
                </ion-select-option>
            </ion-select>

            @if (themeCtrl?.value === 'custom') {
                <ion-textarea
                    formControlName="customTheme"
                    labelPlacement="stacked"
                    fill="outline"
                    rows="5"
                    [autoGrow]="true"
                    [label]="'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.GENERAL.CUSTOM_THEME.LABEL' | transloco"
                    [helperText]="'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.GENERAL.CUSTOM_THEME.HELP' | transloco"
                />
            }

            <ion-select
                formControlName="shikimoriDomain"
                interface="popover"
                fill="outline"
                labelPlacement="floating"
                [label]="'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.GENERAL.SHIKIMORI_DOMAIN.LABEL' | transloco"
                [helperText]="'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.GENERAL.SHIKIMORI_DOMAIN.HELP' | transloco"
            >
                @for (domain of shikimoriDomains; track $index) {
                    <ion-select-option [value]="domain">
                        {{ domain }}
                    </ion-select-option>
                }
            </ion-select>
        </app-settings-group>

        <!-- Плеер -->
        <app-settings-group
            class="settings-page__section"
            icon="play-outline"
            [title]="'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.PLAYER_PAGE.TITLE' | transloco"
        >
            <ion-toggle formControlName="preferencesToggle"
                labelPlacement="end"
                enableOnOffLabels
                [helperText]="'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.PLAYER_PAGE.PREFERENCE_TOGGLE.HELP' | transloco">
                {{ 'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.PLAYER_PAGE.PREFERENCE_TOGGLE.LABEL' | transloco }}
            </ion-toggle>

            <ion-select
                formControlName="playerMode"
                interface="popover"
                fill="outline"
                labelPlacement="floating"
                [label]="'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.PLAYER_PAGE.PLAYER_MODE.LABEL' | transloco"
                [helperText]="'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.PLAYER_PAGE.PLAYER_MODE.OPTIONS_HELP.' + playerModeCtrl?.value | uppercase | transloco"
            >
                <ion-select-option value="auto">
                    {{ 'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.PLAYER_PAGE.PLAYER_MODE.OPTIONS.AUTO' | transloco }}
                </ion-select-option>

                <ion-select-option value="compact">
                    {{ 'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.PLAYER_PAGE.PLAYER_MODE.OPTIONS.COMPACT' | transloco }}
                </ion-select-option>

                <ion-select-option value="full">
                    {{ 'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.PLAYER_PAGE.PLAYER_MODE.OPTIONS.FULL' | transloco }}
                </ion-select-option>
            </ion-select>

            <ion-select
                formControlName="playerKindDisplayMode"
                interface="popover"
                fill="outline"
                labelPlacement="floating"
                [label]="'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.PLAYER_PAGE.PLAYER_KIND_DISPLAY_MODE.LABEL' | transloco"
                [helperText]="'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.PLAYER_PAGE.PLAYER_KIND_DISPLAY_MODE.OPTIONS_HELP.' + playerKindDisplayModeCtrl?.value | uppercase | transloco"
            >
                <ion-select-option value="off">
                    {{ 'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.PLAYER_PAGE.PLAYER_KIND_DISPLAY_MODE.OPTIONS.OFF' | transloco }}
                </ion-select-option>

                <ion-select-option value="special-only">
                    {{ 'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.PLAYER_PAGE.PLAYER_KIND_DISPLAY_MODE.OPTIONS.SPECIAL-ONLY' | transloco }}
                </ion-select-option>

                <ion-select-option value="all">
                    {{ 'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.PLAYER_PAGE.PLAYER_KIND_DISPLAY_MODE.OPTIONS.ALL' | transloco }}
                </ion-select-option>
            </ion-select>

            <ion-item-group class="filter-player-domains">
                <ion-label class="filter-player-domains__label">
                    {{ 'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.PLAYER_PAGE.FILTER_PLAYER_DOMAINS.LABEL' | transloco }}
                </ion-label>

                <ion-list class="filter-player-domains__list">
                    @for (domain of filterPlayerDomainsCtrl?.value; track domain) {
                        <ion-item>
                            <ion-label>{{ domain }}</ion-label>

                            <ion-button
                                color="danger"
                                (click)="deleteDomainFilter(domain)">
                                <ion-icon slot="start" name="trash-outline"></ion-icon>
                                {{ 'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.PLAYER_PAGE.FILTER_PLAYER_DOMAINS.ADD_NEW_DOMAIN.DELETE_BTN' | transloco }}
                            </ion-button>
                        </ion-item>
                    }
                </ion-list>

                <div class="filter-player-domains__input">
                    <ion-input
                        fill="outline"
                        labelPlacement="stacked"
                        [label]="'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.PLAYER_PAGE.FILTER_PLAYER_DOMAINS.ADD_NEW_DOMAIN.LABEL' | transloco"
                        [placeholder]="'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.PLAYER_PAGE.FILTER_PLAYER_DOMAINS.ADD_NEW_DOMAIN.PLACEHOLDER' | transloco"
                        [errorText]="'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.PLAYER_PAGE.FILTER_PLAYER_DOMAINS.ADD_NEW_DOMAIN.VALIDATION_ERRORS.IS_NOT_URL' | transloco"
                        [formControl]="addFilterDomainCtrl"
                    >
                        <ion-button
                            slot="end"
                            [disabled]="addFilterDomainCtrl.invalid"
                            (click)="addNewDomainFilter()">
                            <ion-icon slot="icon-only" name="add-outline" />
                        </ion-button>
                    </ion-input>
                </div>
            </ion-item-group>
        </app-settings-group>

        <!-- Список Аниме -->
        <app-settings-group
            class="settings-page__section"
            icon="film-outline"
            [title]="'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.USER_ANIMES_PAGE.TITLE' | transloco"
        >
            @let useCustomOrder = useCustomAnimeStatusOrder?.value;
            @let helperText = 'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.USER_ANIMES_PAGE.USE_CUSTOM_ANIME_STATUS_ORDER.HELP'| transloco;

            <ion-toggle formControlName="useCustomAnimeStatusOrder"
                labelPlacement="end"
                enableOnOffLabels
                [helperText]="useCustomOrder ? helperText : null"
            >
                {{ 'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.USER_ANIMES_PAGE.USE_CUSTOM_ANIME_STATUS_ORDER.LABEL' | transloco }}
            </ion-toggle>

            @if (useCustomOrder) {
                <ion-reorder-group (ionItemReorder)="reorderAnimeStatusSections($event)" [disabled]="false">
                    @for (status of userAnimeStatusOrderCtrl?.value; track status) {
                        <ion-item>
                            <ion-label>{{ 'HOME_MODULE.HOME_PAGE.GRIDS.' + (status | uppercase) | transloco }}</ion-label>
                            <ion-reorder slot="end"></ion-reorder>
                        </ion-item>
                    }
                </ion-reorder-group>
            }
        </app-settings-group>

        <!-- Профиль -->
        <app-settings-group
            class="settings-page__section"
            icon="person-outline"
            [title]="'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.PROFILE_SETTINGS.TITLE' | transloco"
        >
            <app-profile-info
                serviceName="Shikimori"
                [serviceIcon]="'/favicon.ico' | getShikimoriPage | async"
                [isAuthorized]="!!isShikimoriAuthenticated()"
                [avatar]="shikimoriAvatarImg()"
                [nickname]="shikimoriNickname()"
                (login)="shikimoriLogin()"
                (logout)="shikimoriLogout()"
            />
        </app-settings-group>

        <!-- Хранилище -->
        <app-settings-group
            class="settings-page__section storage"
            icon="server-outline"
            [title]="'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.STORAGE.TITLE' | transloco"
        >
            <div class="storage__used-info">
                <ion-progress-bar
                    class="storage__progressbar"
                    type="determinate"
                    [value]="((localStorageUsage$ | async) + (localStorageCache$ | async)) / localStorageLimit"
                />

                <span class="storage__text">
                    {{ 'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.STORAGE.INFO' | transloco: {
                        used: ((localStorageUsage$ | async) + (localStorageCache$ | async)  | toHumanReadableBytes),
                        cached: localStorageCache$ | async | toHumanReadableBytes,
                        total: localStorageLimit | toHumanReadableBytes,
                    } }}
                </span>
            </div>

            <ion-button
                color="danger"
                [title]="'SETTINGS_MODULE.SETTINGS_PAGE.SETTING_GROUPS.STORAGE.CLEAR_CACHE_BTN' | transloco"
                (click)="clearCache()">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
        </app-settings-group>
    </form>

    @if (hasLastVisitedPage()) {
        <ion-button
            class="settings-page__back-btn"
            expand="full"
            (click)="goToLastPage()">
            {{ 'SETTINGS_MODULE.SETTINGS_PAGE.CLOSE_BTN' | transloco }}
        </ion-button>
    }
</ion-content>
