b {
  font-size: 11pt;
}

:active {
  border: none;
}

button {
  background-color: transparent;
  border: none;
  padding: 0 2px;
  margin: 0;
}

button:disabled, button:disabled:hover {
  color: #777;
  cursor: default;
}

ul {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-right: 5px;
}
