<div>
  <b class="text">Варианты видео: </b>
  <ul>
    <li>
      <button class="shc-links"
        [disabled]="!hasAnyOfKind(KINDS.Dub)"
        [class.selected]="isChosen(KINDS.Dub)"
        (click)="switchKindSelection(KINDS.Dub)">
        озвучка
      </button>
    </li>
    <li>
      <button class="shc-links"
        [disabled]="!hasAnyOfKind(KINDS.Sub)"
        [class.selected]="isChosen(KINDS.Sub)"
        (click)="switchKindSelection(KINDS.Sub)">
        субтитры
      </button>
    </li>
    <li>
      <button class="shc-links"
        [disabled]="!hasAnyOfKind(KINDS.Raw)"
        [class.selected]="isChosen(KINDS.Raw)"
        (click)="switchKindSelection(KINDS.Raw)">
        оригинал
      </button>
    </li>
    <li>
      <button class="shc-links"
        [class.selected]="isChosen(KINDS.Unknown)"
        (click)="switchKindSelection(KINDS.Unknown)">
        все
      </button>
    </li>
  </ul>
</div>
