<h2 mat-dialog-title>
  About Shikicinema v{{ VERSION }}
  <span *ngIf="!IS_PRODUCTION">(DEV build)</span>
</h2>

<mat-dialog-content>
  <div>
    <p>Спасибо, что используете Shikicinema!</p>
    <p>Здесь будут появляться заметки о выпуске.</p>

    Обратная связь:
    <a href="https://shikimori.one/th3_smart" target="_blank" class="shc-links">Shikimori</a> |
    <a href="https://github.com/Smarthard/shikicinema" target="_blank" class="shc-links">GitHub</a> |
    <a href="mailto:th3smartchan@gmail.com" class="shc-links">E-mail</a>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="flex with-space-between">
  <div>
    Powered by <a href="https://smarthard.net" target="_blank" class="shc-links">SmarthardNET</a>
  </div>
  <button mat-raised-button
          (click)="close()">
    OK
  </button>
</mat-dialog-actions>
