<h2 mat-dialog-title>
  About Shikicinema v{{ VERSION }}
  <span *ngIf="!IS_PRODUCTION">(DEV build)</span>
</h2>

<mat-dialog-content>
  <div class="flex flex-column">
    <p>Спасибо, что используете Shikicinema!</p>

    <div *ngIf="(releaseNotes$ | async) as releaseNotes else loading">
      <b>Changelog:</b>
      <div *ngIf="releaseNotes"
           [innerHTML]="releaseNotes"></div>
      Изменения в более старых версиях можно посмотреть<a class="shc-links"
         target="_blank"
         href="https://addons.mozilla.org/en-US/firefox/addon/shikicinema/versions/">
        здесь
      </a>
    </div>

    <ng-template #loading>
      <div class="flex">
        <mat-spinner *ngIf="!(timeout$ | async)"
                     [diameter]="50"
                     color="primary"></mat-spinner>
        <div *ngIf="timeout$ | async">
          Упс, похоже, для <b>v{{ VERSION }}</b> заметок об изменениях еще нет :(
        </div>
      </div>
    </ng-template>

    <p>
      Обратная связь:
      <a href="https://shikimori.one/th3_smart" target="_blank" class="shc-links">Shikimori</a> |
      <a href="https://github.com/Smarthard/shikicinema" target="_blank" class="shc-links">GitHub</a> |
      <a href="mailto:th3smartchan@gmail.com" class="shc-links">E-mail</a>
    </p>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="flex with-space-between">
  <div>
    Powered by <a href="https://smarthard.net" target="_blank" class="shc-links">SmarthardNET</a>
  </div>
  <button mat-raised-button
          (click)="close()">
    OK
  </button>
</mat-dialog-actions>
