@use 'src/scss/mixins' as *;

.comment {
    &__message {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
    }

    &__avatar {
        .image-card__img {
            border-radius: 100%;
        }
    }

    &__avatar-wrap {
        --shc-comment-avatar-size: 7vh;

        width: var(--shc-comment-avatar-size);
        height: var(--shc-comment-avatar-size);
        min-width: var(--shc-comment-avatar-size);
        min-height: var(--shc-comment-avatar-size);
        max-width: var(--shc-comment-avatar-size);
        max-height: var(--shc-comment-avatar-size);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        display: flex;
        align-items: baseline;
        gap: 1rem;

        @include media-breakpoint-down('lg') {
            font-size: .825rem;
        }
    }

    &__actions {
        display: flex;
        align-items: baseline;

        @include media-breakpoint-up('lg') {
            gap: .5rem;
        }
    }

    &__author {
        font-weight: bold;
    }

    &__date {
        font-size: small;
        color: var(--ion-color-medium);
    }
}
