<a class="comment__avatar-wrap" [href]="comment?.user?.url">
    <app-image-card class="comment__avatar" [imageUrl]="comment?.user?.avatar"></app-image-card>
</a>

<div class="comment__message">
    <div class="comment__header">
        <div class="comment__author">
            <a [href]="comment?.user?.url">{{ comment?.user?.nickname }}</a>
        </div>

        <div class="comment__date">
            <time [dateTime]="comment?.updated_at"
                [title]="comment?.updated_at | date: 'dd.MM.YYYY hh:mm:ss'">
                {{ comment?.updated_at | date: 'dd.MM.YYYY' }}
            </time>
        </div>

        <a class="comment__link" [href]="comment | toCommentUrl">#</a>
    </div>

    <!-- используем всплывание событий при кликах для их обработки через target -->
    <div class="comment__body"
        tabindex="-1"
        [innerHTML]="comment | processShikimoriHtml"
        (click)="onClick($event)"
        (keydown.enter)="onClick($event)">
    </div>
</div>
