@use 'src/scss/mixins' as *;

.anime-search-list {

    &-item {
        max-height: 7rem;
        border-left: 5px solid transparent;
        cursor: pointer;

        &:hover {
            border-left-color: var(--ion-color-primary);
        }

        &--info {
            border-left-color: var(--ion-color-secondary) !important;
        }

        &--warning {
            border-left-color: var(--ion-color-danger) !important;
        }

        &__image {
            position: relative;
            width: 4.125rem;
            height: 6rem;
        }

        &__info {
            flex: 1;
            margin-left: 12px;
        }
    }

    .anime-info__title {
        color: var(--ion-color-primary);
    }
}

.anime-info {
    &__title {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        font-size: small;
        line-height: 1rem;
        max-height: 3.75rem;

        @include media-breakpoint-up('sm') {
            display: flex;
            font-size: larger;
        }

        & :not(:first-child) {
            &::before {
                display: inline-block;
                content: '/';
                color: var(--ion-text-color);
                margin-left: 5px;
            }
        }
    }

    &__status {
        font-size: smaller;

        &--anons {
            color: var(--ion-color-danger);
        }

        &--ongoing {
            color: var(--ion-color-secondary);
        }

        &--released {
            color: var(--ion-color-success);
        }
    }

    &__kind,
    &__title,
    &__year {
        & .skeleton {
            display: inline-block;
            margin: 2px;
        }
    }
}
