@use 'src/scss/mixins' as *;

.player-page {
    font-size: .825rem;

    @include media-breakpoint-up('lg') {
        font-size: 1rem;
    }

    &__player {
        grid-area: player;
    }

    &__player-selector {
        grid-area: selector;
    }

    &__comment-form {
        grid-area: comment-form;
    }

    &__control-panel {
        grid-area: conpan;
    }

    &__franchise {
        grid-area: franchise;

        padding: .5rem;
        border-radius: var(--shc-border-radius);

        &--skeleton {
            height: 14.25rem;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;

        justify-content: center;

        row-gap: 1rem;
        margin-top: .5rem;

        &--mobile {
            .control-panel__episode-wrapper {
                min-width: 3.125rem;

                @include media-breakpoint-down('xl') {
                    --padding-start: 0;
                    --padding-bottom: 0;
                    --ion-safe-area-right: 0;
                    max-width: 3.125rem;
                }
            }

            @include media-breakpoint-up('md') {
                margin-top: .75rem;
                justify-content: unset;
            }
        }

        // десктопные стили
        &:not(.player-page__wrapper--mobile) {
            display: grid;

            grid-template:  "player selector"
                            "conpan sidepan"
                            "franchise franchise"
                            "comments comments"
                            "comment-form comment-form";
            grid-template-columns: 65vw 23.5rem;
            grid-template-rows: calc(65vw * 9 / 16) auto;

            @include media-breakpoint-down('fhd') {
                column-gap: 1rem;
            }

            @include media-breakpoint-up('fhd') {
                padding: 0 var(--shc-player-sides-padding);

                column-gap: 2.75rem;
            }

            @include media-breakpoint-up('x2k') {
                padding: 0 calc(var(--shc-player-sides-padding) * 3);
            }

            @include media-breakpoint-up('x4k') {
                padding: 0 calc(var(--shc-player-sides-padding) * 5);
            }

            .player-page__wrapper--compact {
                display: grid;
                grid-template:  "player selector"
                                "conpan sidepan"
                                "franchise franchise"
                                "comments comments"
                                "comment-form comment-form";
                grid-template-columns: 65vw 23.5rem;
                grid-template-rows: calc(65vw * 9 / 16) auto;
            }
        }
    }

    &__comments {
        grid-area: comments;
        margin-top: .5rem;
    }

    &__side-panel {
        grid-area: sidepan;
    }

    .common-info {
        &__title {
            white-space: nowrap;

            @include media-breakpoint-down('lg') {
                max-width: 80%;
            }
        }
    }
}
