<ion-content [fullscreen]="true" class="page-content ion-padding"
    appSwipe
    (appSwipeRight)="onOpenVideoSelectorModal()">
    <div class="player-page__wrapper"
        [class.player-page__wrapper--mobile]="isSmallScreen$ | async"
        [class.player-page__wrapper--compact]="(playerMode$ | async) === 'compact'">
        <div class="player-page__anime-info common-info">
            <div class="common-info__title">
                @if (isAnimeLoading$ | async) {
                    <app-skeleton-block
                        height="2rem"
                        [width]="(isSmallScreen$ | async) ? '10rem' : '30rem'"
                    />
                } @else {
                    <ion-text>
                        <h1 class="player-page__title text-ellipsis"
                            [title]="(animeName$ | async)">
                            <a [href]="shikimoriDomain$ | async | shikimoriAnimeLink: (animeId$ | async)">
                                {{ animeName$ | async }}
                            </a>
                        </h1>
                    </ion-text>
                }
            </div>

            <div class="common-info__video">
                <app-uploader [uploader]="(currentVideo$ | async)?.uploader | toUploader | async" />
            </div>
        </div>

        <app-kind-selector
            class="player-page__kind"
            [class.ion-hide]="isVideoSelectionHidden$ | async"
            [kinds]="episodeVideos$ | async | getActiveKinds"
            [selected]="currentKind$ | async"
            (selection)="onKindChange($event)"
        />

        <app-player class="player-page__player"
            [loading]="isVideosLoading$ | async"
            [source]="(currentVideo$ | async)?.url"
        />

        <app-video-selector
            class="player-page__video-selector"
            [class.ion-hide]="isVideoSelectionHidden$ | async"
            [videos]="episodeVideos$ | async | filterByKind: (currentKind$ | async)"
            [selected]="currentVideo$ | async"
            [kindDisplayMode]="playerKindDisplayMode$ | async"
            (selection)="onVideoChange($event)"
        />

        <ng-container *ngLet="isWatched$ | async as isWatched">
            <app-control-panel
                class="player-page__control-panel"
                [anime]="anime$ | async"
                [episodes]="videos$ | async | getEpisodes"
                [selected]="episode$ | async"
                [userRate]="userRate$ | async"
                [isLoading]="isAnimeLoading$ | async"
                [isWatched]="isWatched"
                [showSidePanel]="isSmallScreen$ | async"
                [isRewatching]="isRewatching$ | async"
                [isMinified]="isPanelsMinified$ | async"
                [playerMode]="playerMode$ | async"
                (selection)="onEpisodeChange($event)"
                (watch)="onWatch($event, isWatched)"
                (openVideoModal)="onOpenVideoSelectorModal()"
                (togglePlayerMode)="togglePlayerMode()"
            />
        </ng-container>

        @if ((isSmallScreen$ | async) === false) {
            <app-side-panel
                class="player-page__side-panel"
                [anime]="anime$ | async"
                [episode]="episode$ | async"
                [isLoading]="isAnimeLoading$ | async"
                [isMinified]="isPanelsMinified$ | async"
                (uploaded)="onVideoUpload($event)"
            />
        }

        <app-comments
            class="player-page__comments"
            [comments]="comments$ | async"
            [isLoading]="isCommentsLoading$ | async"
            [isPartialyLoading]="isCommentsPartiallyLoading$ | async"
            [showMoreButton]="(isShownAllComments$ | async) === false"
            (showMoreComments)="onShowMoreComments()"
            (editComment)="onCommentEdit($event)"
            (deleteComment)="onCommentDelete($event)"
        />

        <app-user-comment-form
            class="player-page__comment-form"
            [isAuthorized]="isUserAuthorized$ | async"
            (send)="onCommentSend($event)"
            (login)="onCommentLogin()"
        />
    </div>
</ion-content>
