@import 'src/scss/mixins';

.player-page {
    --shc-watched-episode-color-rgb: 41, 196, 103;
    --shc-watched-episode-color: rgb(var(--shc-watched-episode-color-rgb));

    &__title {
        max-width: 50vw;
    }

    &__anime-info {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        grid-area: info;
    }

    &__kind {
        grid-area: kind;
    }

    &__player {
        grid-area: player;

        &.skeleton {
            @media (orientation: portrait) {
                min-height: 20vh;
            }

            @media (orientation: landscape) {
                min-height: 100vh;

            }

            @include media-breakpoint-up('lg') {
                min-height: 50vh;
            }
        }
    }

    &__comment-form {
        grid-area: comment-form;
    }

    &__control-panel {
        grid-area: conpan;
    }

    &__video-selector {
        grid-area: video;
        max-height: 90vh;
    }

    &__wrapper {
        display: grid;
        row-gap: 1rem;

        justify-content: center;

        grid-template:  "info info"
                        "player player"
                        "conpan sidepan"
                        "comments comments"
                        "comment-form comment-form";

        &--mobile {
            display: flex;
            flex-direction: column;

            .control-panel__episode-wrapper {
                min-width: 3.125rem;
                max-width: 3.125rem;
            }

            @include media-breakpoint-up('md') {
                justify-content: unset;
            }
        }

        @include media-breakpoint-up('xxl') {
            // чтобы не сломалось отображение на планшетах
            &:not(.player-page__wrapper--mobile) {
                margin-top: .5rem;
                padding: 0 5%;

                grid-template:  "info   kind"
                                "player video"
                                "conpan sidepan"
                                "comments comments"
                                "comment-form comment-form";

                column-gap: 2.75rem;
                grid-template-rows: auto 60vh;
                grid-template-columns: calc(60vh * (16/9)) min-content;
            }
        }

        @include media-breakpoint-between('lg', 'xxl') {
            &:not(.player-page__wrapper--mobile) {
                grid-template-rows: auto 50vh;
                grid-template-columns: calc(50vh * (16/9)) min-content;
            }
        }

        @include media-breakpoint-between('md', 'lg') {
            &:not(.player-page__wrapper--mobile) {
                grid-template-rows: auto 40vh;
                grid-template-columns: calc(40vh * (16/9)) min-content;
            }
        }

        @include media-breakpoint-between('sm', 'md') {
            &:not(.player-page__wrapper--mobile) {
                grid-template-rows: auto 30vh;
                grid-template-columns: calc(30vh * (16/9)) min-content;
            }
        }

        @include media-breakpoint-up('xxxl') {
            margin-top: .5rem;
            padding: 0 5%;

            grid-template:  "info   kind"
                            "player video"
                            "conpan sidepan"
                            "comments comments"
                            "comment-form comment-form";

            column-gap: 2.75rem;
            grid-template-rows: auto 70vh;
            grid-template-columns: calc(70vh * (16/9)) min-content;
        }
    }

    &__comments {
        grid-area: comments;
        margin-top: .5rem;
    }

    &__side-panel {
        grid-area: sidepan;
    }

    .common-info {
        &__title {
            white-space: nowrap;

            @include media-breakpoint-down('lg') {
                max-width: 60%;
            }
        }
    }
}
