<ion-content [fullscreen]="true" class="page-content ion-padding"
    appSwipe
    (appSwipeRight)="onOpenVideoSelectorModal()">
    <div class="player-page__wrapper"
        [class.player-page__wrapper--mobile]="isSmallScreen()"
        [class.player-page__wrapper--compact]="playerMode() === 'compact'">

        <app-player
            #player
            class="player-page__player responsive-16by9"
            [loading]="isVideosLoading()"
            [source]="currentVideo()?.url"
            [nextEpisodeAt]="nextEpisodeAt()"
        />

        <app-player-selector
            class="player-page__player-selector"
            [class.ion-hide]="isSmallScreen()"
            [isLoading]="isVideosLoading()"
            [animeId]="animeIdQ()"
            [kind]="currentKind()"
            [episode]="episodeQ()"
            [isFilterDomains]="isDomainFilterOn()"
            [lastAiredEpisode]="lastAiredEpisode()"
            [videos]="videos()"
            [selectedVideo]="currentVideo()"
            (changeKind)="onKindChange($event)"
            (changeVideo)="onVideoChange($event, false)"
            (domainFiltersOff)="setDomainFilters(false)"
        />

        <app-control-panel
            #controlPanel
            class="player-page__control-panel"
            [anime]="anime()"
            [maxEpisode]="maxEpisode()"
            [selected]="episodeQ()"
            [userRate]="userRate()"
            [isLoading]="isAnimeLoading()"
            [isWatched]="isWatched()"
            [showSidePanel]="isSmallScreen()"
            [isRewatching]="isRewatching()"
            [isMinified]="isPanelsMinified()"
            [playerMode]="playerMode()"
            (selection)="onEpisodeChange($event)"
            (watch)="onWatch($event, isWatched())"
            (openVideoModal)="onOpenVideoSelectorModal()"
            (togglePlayerMode)="togglePlayerMode()"
        />

        @if (!isSmallScreen()) {
            <app-side-panel
                class="player-page__side-panel"
                [anime]="anime()"
                [episode]="episodeQ()"
                [isLoading]="isAnimeLoading()"
                [isMinified]="isPanelsMinified()"
                [isDomainFiltersActive]="isDomainFilterOn()"
                [video]="currentVideo()"
                (filtersToggle)="setDomainFilters($event)"
            />
        }

        @defer (when anime()?.id) {
            <app-description
                class="player-page__description"
                [anime]="anime()"
                [animeName]="animeName()"
            />   
        } @placeholder {
            <div class="player-page__description player-page__description--skeleton skeleton"></div>
        }

        @defer (on idle) {
            <app-comments
                class="player-page__comments"
                [comments]="comments()"
                [isLoading]="isCommentsLoading()"
                [isPartialyLoading]="isCommentsPartiallyLoading()"
                [showMoreButton]="!isShownAllComments()"
                [highlightComment]="highlightComment()"
                (showMoreComments)="onShowMoreComments()"
                (editComment)="onCommentEdit($event)"
                (deleteComment)="onCommentDelete($event)"
            />

            <app-user-comment-form
                #userCommentForm
                class="player-page__comment-form"
                [isAuthorized]="isUserAuthorized()"
                [editComment]="editComment()"
                (send)="onCommentSend($event)"
                (sendEdited)="onCommentSendEdited($event)"
                (login)="onCommentLogin()"
                (highlightEdit)="onHighlightComment($event)"
                (cancelEdit)="onCancelCommentEdit()"
            />
        }
    </div>
</ion-content>
