<cdk-virtual-scroll-viewport [style.height.px]="calcHeight()"
                             itemSize="31"
                             minBufferPx="300"
                             maxBufferPx="6000">
  <div *cdkVirtualFor="let episode of episodes"
       (click)="change.emit(+episode)"
       [class.selected]="chosen && episode == chosen.episode"
       [class.shc-links]="isAnimeReleased || episode <= maxEpisodeAired"
       [matTooltip]="getEpisodeTooltip(episode)"
       class="episodes"
       matTooltipPosition="left">
    <span>
      <span class="text">
        #{{ episode }}
      </span>

      <ng-container *ngIf="unique[episode]; else emptyEpisode">
        {{ getOldFagSortedKind(episode).join(', ') }}

        <span class="hostname">
          ({{ getUrlsSecondLvlDomain(unique[episode].url).sort().join(', ') }})
        </span>
      </ng-container>

      <ng-template #emptyEpisode>
        <span *ngIf="isAnimeReleased || episode <= maxEpisodeAired">
          нет видео
        </span>

        <span *ngIf="!isAnimeReleased && episode === +maxEpisodeAired + 1 && !!anime?.next_episode_at"
              class="text highlighted">
          выйдет {{ anime?.next_episode_at | date: 'dd MMMM' }}
        </span>

        <span *ngIf="!isAnimeReleased && (episode > +maxEpisodeAired + 1 || !anime?.next_episode_at)"
              class="text highlighted">
          еще не вышло
        </span>
      </ng-template>
    </span>
  </div>
</cdk-virtual-scroll-viewport>
