<cdk-virtual-scroll-viewport [ngStyle]="{ 'height.px': calcHeight() }"
                             itemSize="31"
                             minBufferPx="300"
                             maxBufferPx="600">
  <div *cdkVirtualFor="let episode of episodes"
       (click)="change.emit(+episode)"
       [class.selected]="chosen && episode == chosen.episode"
       [class.shc-links]="episode <= maxEpisodeAired"
       [matTooltip]="getEpisodeTooltip(episode)"
       matTooltipPosition="left">
    <span>
      <span class="text">
        #{{ episode }}
      </span>

      <ng-container *ngIf="unique[episode]; else emptyEpisode">
        {{ unique[episode].kind.sort().join(', ') }}

        <span class="hostname">
          ({{ getUrlsSecondLvlDomain(unique[episode].url).sort().join(', ') }})
        </span>
      </ng-container>

      <ng-template #emptyEpisode>
        <span *ngIf="episode <= maxEpisodeAired">
          нет видео
        </span>

        <span *ngIf="episode > maxEpisodeAired"
              class="text">
          еще не вышло
        </span>
      </ng-template>
    </span>
  </div>
</cdk-virtual-scroll-viewport>
