@use 'src/scss/mixins' as *;

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 1rem;
    align-items: center;

    margin-top: 2.5rem;
    padding: 0.75rem 1rem;
    width: 100%;
    background-color: var(--ion-color-light-shade);
    font-size: .75rem;

    @include media-breakpoint-up('lg') {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0.5rem 1rem;
    }

    &__section {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &:first-child {
            justify-content: flex-start;
            grid-column: 1;
        }

        &--socials {
            gap: 1.5rem;
            justify-content: flex-end;
            grid-column: 2;
        }

        &:last-child {
            justify-content: center;
            grid-column: 1 / -1;

            @include media-breakpoint-up('lg') {
                grid-column: auto;
                justify-content: flex-end;
                flex: 1;
            }
        }

        @include media-breakpoint-up('lg') {
            &:first-child {
                flex: 1;
            }
        }
    }

    &__img {
        width: 1.5rem;
        height: 1.5rem;

        &--svg {
            filter: brightness(0) invert(1);
        }
    }
}