<ion-accordion-group class="w-100"
                    multiple
                    [value]="openedByDefaultAuthors()">
    <ng-scrollbar class="scrollbar"
        orientation="vertical"
        appearance="compact"
        visibility="hover">
        @for (author of authors(); track author) {
            <app-video-selector-item
                [author]="author"
                [defaultAuthorName]="defaultAuthorName()"
                [kindDisplayMode]="kindDisplayMode()"
                [selected]="selected()"
                [videos]="videos() | filterByAuthor: author: defaultAuthorName()"
                [isAvailableForAllEpisodes]="!(warnAvailability() | includes: author)"
                (toggleOpen)="onAuthorSectionToggle($event)"
                (selectVideo)="onSelectionChange($event)"
            />
        } @empty {
            <div class="video-selector__empty">
                @if (hasUnfilteredVideos()) {
                    <ion-text>
                        {{ 'PLAYER_MODULE.PLAYER_PAGE.VIDEO_SELECTOR.HAS_UNFILTERED.REMINDER_TEXT' | transloco }}
                    </ion-text>

                    <ion-button fill="outline" (click)="disableFilters.emit()">
                        <ion-icon slot="start" name="funnel-outline" />
                        {{ 'PLAYER_MODULE.PLAYER_PAGE.VIDEO_SELECTOR.HAS_UNFILTERED.DISABLE_FILTERS_BTN' | transloco }}
                    </ion-button>
                }
            </div>
        }
    </ng-scrollbar>
</ion-accordion-group>
