.video-selector {
    display: flex;
    min-width: 23.5rem;
    overflow: auto;
    background-color: var(--ion-color-light);
    border-radius: .25rem;


    .author-accordion {
        overflow: hidden;
        background-color: var(--ion-color-light);

        &.accordion-expanded,
        &.accordion-expanding {
            .author-accordion__item {
                max-height: unset;
                color: var(--ion-color-primary);
            }
        }

        &__item {
            max-height: 2.625rem;
        }

        &__header {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__content {
            display: contents;
        }
    }
}
