<ion-accordion-group class="w-100"
                    multiple
                    [value]="openedByDefaultAuthors()">
    <ng-scrollbar class="scrollbar"
        orientation="vertical"
        appearance="compact"
        visibility="hover">
        @for (author of authors(); track author) {
            <app-video-selector-item
                [author]="author"
                [defaultAuthorName]="defaultAuthorName()"
                [kindDisplayMode]="kindDisplayMode()"
                [selected]="selected()"
                [videos]="videos() | filterByAuthor: author: defaultAuthorName()"
                [isAvailableForAllEpisodes]="!(warnAvailability() | includes: author)"
                (toggleOpen)="onAuthorSectionToggle($event)"
                (selectVideo)="onSelectionChange($event)"
            />
        }
    </ng-scrollbar>
</ion-accordion-group>
