<ion-accordion-group class="w-100"
                     multiple
                     [value]="openedByDefaultAuthors$ | async">
    @for (author of authors$ | async; track author) {
        <ion-accordion class="author-accordion w-100"
                       [value]="author"
                       (click)="onAuthorSectionToggle(author)">
                <ion-item slot="header"
                          class="author-accordion__item">
                    <ion-label class="author-accordion__header"
                               [color]="selected?.author | isSameAuthor: author | getColorForSelectable">
                        {{ author }}
                    </ion-label>
                </ion-item>

                <div class="ion-padding author-accordion__content" slot="content">
                    @for (video of (videos | filterByAuthor: author); track video?.url; let first = $first) {
                        <ion-button
                            fill="clear"
                            expand="block"
                            [color]="selected | isSameVideo: video | getColorForSelectable"
                            [title]="video?.url"
                            (click)="$event.stopPropagation(); onSelectionChange(video)">
                            {{ video?.url | getUrlDomain }}
                        </ion-button>
                    }
                </div>
        </ion-accordion>
    }
</ion-accordion-group>
