.video-selector {
    display: flex;
    min-width: 23.5rem;
    overflow: auto;
    background-color: var(--ion-color-light);
    border-radius: .25rem;


    .author-accordion {
        overflow: hidden;
        background-color: var(--ion-color-light);

        &.accordion-expanded,
        &.accordion-expanding {
            .author-accordion__item {
                max-height: unset;
            }
        }

        &__item {
            max-height: 2.625rem;
        }

        &__header {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__qualities {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 0.5rem;

            > :not(:last-child) {
                &::after {
                    display: block;
                    content: "/";
                }
            }

            .author-accordion__text {
                display: contents;
                margin: 0;
            }
        }

        &__icon-wrap {
            display: contents;
        }

        &__icon {
            max-height: 1rem;
            width: auto;

            &--inline {
                margin-left: .5rem;
            }

            &--bd {
                max-height: .875rem;
                margin-top: .25rem;
            }

            &--vhs {
                height: 1rem;
                background-color: white;
                padding: 1px;
            }
        }

        &__text {
            margin-left: 1rem;
            color: var(--ion-color-dark);
        }

        &__content {
            display: contents;
        }
    }
}
