<div class="notification-badge"
     #trigger="matMenuTrigger"
     (mouseenter)="trigger.openMenu()"
     (click)="trigger.openMenu()"
     [class.white]="!hasUnread(notifications)"
     [matMenuTriggerFor]="notificationsMenu">
  <b *ngIf="hasUnread(notifications)">
    {{ unread(notifications) >= 10 ? '!' : unread(notifications) }}
  </b>
  <mat-icon *ngIf="!hasUnread(notifications)"
            inline="true">
    notifications
  </mat-icon>
</div>

<mat-menu #notificationsMenu="matMenu"
          (close)="markUnread(notifications)"
          class="fixed-max-width-menu">
  <ng-container *ngIf="notifications && notifications?.length > 0; else noNotifications">
    <div *ngFor="let notification of sort(notifications); index as i; first as isFirst">
      <mat-divider *ngIf="!isFirst"></mat-divider>

      <mat-card [class.viewed]="notification?.viewed"
                class="mat-card-flat">
        <mat-card-header>
          <mat-card-title>
            {{ notification?.info?.name }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ notification.created | date: 'dd.MM.y, HH:mm' }}
            <span *ngIf="notification?.viewed">(просмотрено)</span>
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content *ngIf="notification?.info?.html"
                          [innerHTML]="notification?.info?.html">
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
</mat-menu>

<ng-template #noNotifications>
  <mat-card class="mat-card-flat">
    <mat-card-header>
      <mat-card-title>
        Уведомлений пока нет
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      возможно, в скором времени здесь что-то появится
    </mat-card-content>
  </mat-card>
</ng-template>
