<ion-toolbar>
    <ion-title>{{ 'PLAYER_MODULE.VIDEO_SELECT_MODAL.TITLE' | transloco }}</ion-title>

    <ion-buttons slot="start">
        <ion-button (click)="cancel()">
            <ion-icon slot="icon-only" name="close-outline" />
        </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
        <ion-button (click)="submit()">
            <ion-icon slot="icon-only" name="checkmark-outline" />
        </ion-button>
    </ion-buttons>
</ion-toolbar>

<div class="video-selector-modal__selector-wrap">
    <app-player-selector
        class="video-selector-modal__selector"
        [isLoading]="isLoading()"
        [animeId]="animeId()"
        [kind]="selectedKind()"
        [episode]="episode()"
        [isFilterDomains]="isFilterDomains()"
        [lastAiredEpisode]="lastAiredEpisode()"
        [videos]="videos()"
        [selectedVideo]="selectedVideo()"
        (changeKind)="onKindChange($event)"
        (changeVideo)="onVideoChange($event[0], $event[1])"
        (domainFiltersOff)="onToggleDomainFilters()"
    />
</div>
