@use 'src/scss/mixins' as *;

.user-comment-form {
    --shc-edit-comment-wrap-background-color: var(--ion-color-step-300, var(--ion-background-color-step-300, #b3b3b3));

    &__edit {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__edit-wrap {
        display: inline-flex;
        align-items: center;
        gap: .25rem;

        background-color: var(--shc-edit-comment-wrap-background-color);
        border-top-left-radius: .125rem;
        border-top-right-radius: .125rem;
        padding: .125rem;
        margin-right: 1rem;
    }

    &__edit-comment {
        display: inline-flex;
        align-items: center;
        gap: .25rem;
    }

    &__edit-text {
        display: flex;

        cursor: pointer;
        user-select: none;

        padding: .25rem;

        max-width: 8rem;
        max-height: 1.4rem;
        word-break: break-all;

        font-size: .75rem;
        line-height: 1rem;

        @include media-breakpoint-up('lg') {
            max-width: 16rem;
        }

        * {
            pointer-events: none;
        }
    }

    &__edit-user {
        border-radius: 100%;
        width: 1.5rem;
        height: 1.5rem;
    }

    &__edit-cancel {
        font-size: 1.5rem;
    }
}
