body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sans-serif';

    --mdc-theme-primary: #333;
    --mdc-theme-secondary: #999;
    --mdc-theme-on-primary: #555;
    --mdc-theme-on-secondary: #fff;
}

iframe {
    border: #fff none 0;
}

@media (orientation: landscape) {
    footer {
        position: relative !important;
    }
}

@media (max-width: 1024px) {
    #shikicinema-player {
        margin: 0;
        width: 100%;
    }

    label {
        font-size: 11pt;
    }

    .shc-button-img {
        height: 20px;
    }

    .control-box {
        display: inline-block;
        vertical-align: middle;
        margin: 30px 0 0 0;
    }

    .flex {
        display: flex;
        flex-flow: row;
        justify-content: center;
    }

    .flex select {
        margin: 0 5px 0 5px;
        font-size: 8pt !important;
        max-width: 30%;
    }

    #shikicinema-upload-form div div {
        flex-flow: column;
    }

    #shikicinema-upload-form div div label {
        margin: 10px 0;
    }

    #shikicinema-upload-form div div.flex select {
        max-width: 100%;
    }

    footer {
        font-size: 9pt;
    }
}
@media (min-width: 1025px) {
    #shikicinema-player {
        margin: 10px 0 0 0;
        padding: 0 13% 0 13%;
        width: 74%;
    }

    label {
        font-size: 14pt;
    }

    .shc-button-img {
        height: 25px;
    }

    .control-box {
        display: inline-block;
        vertical-align: middle;
        margin: 20px 1% 0 1%;
    }

    .flex {
        display: flex;
        flex-flow: row;
        justify-content: center;
    }
    .flex label {
        margin: 0 5px 0 5px;
        font-size: 10pt !important;
        max-width: 32%;
    }

    .flex select {
        margin: 0 5px;
        padding: 3px 0 2px 16px;
        height: 35px;
    }

    #shikicinema-upload-form div span.flex select {
        max-width: 10%;
    }
}

#container {
    min-height:100%;
    position:relative;
}

#shikicinema-filters {
    display: flex;
    justify-content: center;
}

#shikicinema-player-ratio {
    position: relative;
    padding-top: 56.25%;
}

#shikicinema-controls {
    padding-bottom: 20px;
    text-align: center;
    vertical-align: middle;
}

#shikicinema-upload-div {
    display: none;
    background-color: whitesmoke;
    padding: 20px;
}

#shikicinema-upload-controls {
    display: flex;
    justify-content: flex-end;
}

#shikicinema-check-button {
    margin-right: 5px;
}

#shikicinema-notifier {
    display: none;
    z-index: 10;
    position: fixed;
    margin: 5px;
    right: 0;
    top: 0;
    border-radius: 5px;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: green;
}

#shikicinema-notifier:hover {
    cursor: pointer;
}

#shikicinema-status {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 7px;
    border-radius: 7px;
    background-color: darkblue;
}

#shikicinema-videos-episode {
    border: none !important;
}

#shikicinema-uploader {
    background-color: white;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    align-items: center;
}

#shikicinema-uploader-img {
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

#shikicinema-uploader-info {
    padding-left: 5px;
}

.shc-online {
    background-color: limegreen !important;
}

.shc-offline {
    background-color: darkred !important;
}

.shc-notify-error {
    background-color: crimson !important;
}

.shc-notify-warning {
    background-color: gold !important;
}

.shikimori-close-button {
    position: relative;

    padding: 0 !important;
    margin-left: auto;
    margin-bottom: 5px !important;
    font-size: 20pt !important;

    z-index: 6;
    text-align: center !important;
    width: 1.7vw;
    min-width: 25px !important;
    min-height: 25px !important;
    max-width: 50px !important;
    max-height: 50px !important;
}

.shc-author {
    color: #FF974D;
}

.shc-source {
    color: #4DA8FF;
}

.shc-upload {
    width: 100%;
    margin: 5px;
}

.shc-links, .shc-links:link, .shc-links:active, .shc-links:visited {
    color: #176093;
    text-decoration-line: none;
}

.shc-links:hover {
    color: #DD5202;
}

.label {
    font-size: 8pt;
}

.green-filter {
    filter: invert(56%) sepia(14%) saturate(1546%) hue-rotate(82deg) brightness(104%) contrast(94%);
}

iframe {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

ul {
    font-size: 11pt;
    padding-left: 1%;
    list-style-type: none;
}

li {
    padding-bottom: 10px;
}

li a {
    cursor: pointer;
}

input {
    font-size: 15pt;
    margin-left: 3px;
    width: 30px;
    height: 3.7vh;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 14px;
    text-align: center;
}
