#shikicinema-player {
    z-index: 5;

    padding: 5px;
    border: solid 1px #777;
    border-radius: 5px;
    
    position: absolute;
    top: 35%;
    left: 25%;
    right: 25%;
    min-width: 50%;
    max-width: 90%;
    min-height: 30%;

    background-color: #fff;
    opacity: 1;
}

#shikicinema-player-ratio {
    position: relative;
    padding-top: 56.25%;
}

.shikimori-close-button {
    position: relative;
    top: 0;
    left: 95%;
    font-size: 25pt;

    z-index: 6;
    width: calc(5% - 5px);
}

.shc-author {
    color: #FF974D;
}

.shc-source {
    color: #4DA8FF;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

li a {
    cursor: pointer;
}

select {
    max-width: 50%;
}
