#shikicinema-player {
    z-index: 5;

    padding: 5px;
    border: solid 1px #777;
    border-radius: 5px;
    
    position: absolute;
    top: 8%;
    left: 25%;
    right: 25%;
    min-width: 50%;
    max-width: 90%;
    min-height: 30%;

    background-color: #fff;
    opacity: 1;
}

#shikicinema-player-ratio {
    position: relative;
    padding-top: 56.25%;
}

#shikicinema-controls {
    padding-bottom: 20px;
    text-align: center;
    vertical-align: middle;
}

.shikimori-close-button {
    position: relative;

    padding: 0;
    margin-left: auto;
    margin-bottom: 5px;
    font-size: 20pt;

    z-index: 6;
    width: 1.7vw;
}

.shc-author {
    color: #FF974D;
}

.shc-source {
    color: #4DA8FF;
}

.control-box {
    display: inline-block;
    vertical-align: middle;
    margin: 20px 1% 0 1%;
}

.label {
    font-size: 8pt;
}

.green-filter {
    filter: invert(56%) sepia(14%) saturate(1546%) hue-rotate(82deg) brightness(104%) contrast(94%);
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

li a {
    cursor: pointer;
}

select {
    max-width: 50%;
}

input {
    font-size: 15pt;
    margin-left: 3px;
    width: 30px;
    height: 3.7vh;
}
