$grid-breakpoints: (
    xs: 0,
    sm: 576px,      // смартфоны
    md: 768px,      // смартфоны (широкоформатный режим)
    lg: 992px,      // планшеты
    xl: 1199px,     // старые мониторы HD
    fhd: 1399px,    // Full-HD
    x2k: 2559px,     // тут и ниже: телевизоры, современные ноуты и т.п.  
    x4k: 3839px,
);
