.page-content::part(scroll) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    padding-top: var(--shc-header-height);
    scrollbar-width: thin;
}
