@use 'src/scss/mixins' as *;

body {
    --shc-font-size-value: 1rem;

    --shc-watched-episode-color-rgb: 41, 196, 103;
    --shc-watched-episode-color: rgb(var(--shc-watched-episode-color-rgb));
    --shc-episode-not-aired-color: var(--ion-color-light);
    --shc-episode-not-aired-background-color: var(--ion-color-medium-tint);

    --shc-scrollbar-color: rgba(var(--ion-color-primary-rgb), 1);
    --shc-scrollbar-background-color: rgba(var(--ion-color-primary-rgb), 0.5);

    --shc-border-radius: .25rem;

    --shc-header-height: 5rem;
    
    --shc-player-sides-padding: 5rem;

    --shc-comment-avatar-size: 7vh;

    @include media-breakpoint-up('x2k') {
        --shc-border-radius: .5rem;
        --shc-header-height: 7.5rem;
    }

    @include media-breakpoint-up('x4k') {
        --shc-border-radius: 1rem;
        --shc-header-height: 10rem;
    }
}
