.side-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--minified {
        justify-content: unset;
    }

    &__uploader {
        border-radius: var(--shc-border-radius);
        height: 100%;
        width: 50%;
        min-width: 25%;
        max-width: 75%;
    }
}
