@if (!isMinified()) {
    @if (uploader() | toUploader | async; as uploader) {
        <app-uploader class="side-panel__uploader" [uploader]="uploader" />
    } @else {
        <div class="side-panel__uploader side-panel__uploader--skeleton skeleton"></div>
    }

    <div class="side-panel__pull-right-wrap">
        @if (showDomainFilters()) {
            <ion-button
                class="side-panel__settings-btn"
                fill="clear"
                (click)="filtersToggle.emit(!isDomainFiltersActive())">
                <ion-icon class="side-panel__icon" slot="icon-only" [name]="funnelIcon()" />
            </ion-button>
        }

        <ion-button
            class="side-panel__settings-btn"
            fill="clear"
            routerLink="/settings">
            <ion-icon class="side-panel__icon" slot="icon-only" name="settings-outline" />
        </ion-button>
    </div>
}
