@if (isMinified()) {
    <ion-button
        class="side-panel__upload-btn"
        fill="clear"
        [disabled]="isLoading()"
        (click)="onOpenUploadModal()">
        <ion-icon slot="icon-only" name="cloud-upload-outline" />
    </ion-button>
} @else {
    <ion-button
        class="side-panel__upload-btn"
        fill="clear"
        [disabled]="isLoading()"
        (click)="onOpenUploadModal()">
        <ion-icon slot="start" name="cloud-upload-outline" />
        {{ 'PLAYER_MODULE.PLAYER_PAGE.UPLOAD_VIDEO.FORM_ACTIONS.UPLOAD' | transloco }}
    </ion-button>

    <ion-button class="side-panel__settings-btn" fill="clear" routerLink="/settings">
        <ion-icon slot="icon-only" name="settings-outline" />
    </ion-button>
}
