<ion-header [translucent]="true">
    <ion-toolbar>
        <div class="toolbar">
            <ion-title class="toolbar__title ion-hide-lg-down">
                {{ 'GLOBAL.APP_NAME' | transloco }}
            </ion-title>

            <ion-searchbar
                class="toolbar__search"
                [placeholder]="'HOME_MODULE.HOME_PAGE.ANIME_SEARCHBAR_PLACEHOLDER' | transloco"
            ></ion-searchbar>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid class="anime-grid">
        <ion-row
            *ngIf="userAnimeRates$ | async as userAnimeRates; else skeletonTemplate"
            class="anime-grid__row"
        >
            <ion-col
                *ngFor="let rate of userAnimeRates; trackBy: trackById"
                class="anime-grid__col"
                size-xs="6"
                size-sm="6"
                size-md="4"
                size-lg="3"
                size-xl="2"
            >
                <app-image-card
                    class="anime-grid__item"
                    [link]="'https://shikimori.one' + rate.anime.url"
                    [imageUrl]="'https://nyaa.shikimori.one' + rate.anime.image.original"
                    [height]="cardHeight"
                    [width]="cardWidth"
                ></app-image-card>
            </ion-col>
        </ion-row>

        <ng-template #skeletonTemplate>
            <ion-row class="anime-grid__row">
                <ion-col
                    *ngFor="let _ of userAnimeRatesFake"
                    class="anime-grid__col"
                    size-xs="6"
                    size-sm="6"
                    size-md="4"
                    size-lg="3"
                    size-xl="2"
                >
                    <app-skeleton-block
                        class="anime-grid__item"
                        [height]="cardHeight"
                        [width]="cardWidth"
                    ></app-skeleton-block>
                </ion-col>
            </ion-row>
        </ng-template>
    </ion-grid>
</ion-content>
