@import 'src/scss/mixins';

.toolbar {
    display: flex;

    &__search {
        margin-right: auto;
        padding: 15px 1.25rem;
    }
}

.anime-grid {
    padding: 0;
    margin: 0;

    @include media-breakpoint-up('sm') {
        margin: .5rem;
    }

    @include media-breakpoint-up('md') {
        margin: 1.25rem;
    }

    @include media-breakpoint-up('lg') {
        margin: 1.5rem 5%;
    }

    @include media-breakpoint-up('xl') {
        margin: 1.5rem 10%;
    }

    &__row {
        justify-content: space-evenly;
    }

    &__item {
        margin: 0 auto;
    }

    ::after {
        content: '';
        flex: auto;
    }
}
