<ng-scrollbar
    #episodesScrollbar
    class="scrollbar"
    orientation="horizontal"
    appearance="compact"
    visibility="hover">
    <div class="episode-selector__wrapper">
        @for (episode of episodes(); track episode) {
            @let isNotAired = episode > maxAiredEpisode();

            <app-episode-selector-item
                #episodeEl
                [episode]="episode"
                [isWatched]="episode <= maxWatchedEpisode()"
                [isSelected]="episode === selected()"
                [isNotAired]="isNotAired"
                [ngxTippy]="isNotAired ? notAiredText() : null"
                [tippyProps]="{ placement: 'top' }"
                (click)="onEpisodeSelect(episode)"
                (keydown.enter)="onEpisodeSelect(episode)"
                (keydown.space)="onEpisodeSelect(episode)"
            />
        } @empty {
            @if (isLoading()) {
                @for (episode of episodesSkeleton; track $index) {
                    <app-episode-selector-item class="skeleton" [episode]="episode" />
                }
            } @else {
                <app-episode-selector-item
                    #episodeEl
                    [episode]="1"
                    [isSelected]="true"
                />
            }
        }
    </div>
</ng-scrollbar>
