.episode-selector {
    display: flex;
    gap: .25rem;
    padding: .5rem .25rem;
    background-color: var(--ion-color-light);
    border-radius: .25rem;

    .scrollbar {
        --scrollbar-thumb-color: var(--shc-scrollbar-color);
        --scrollbar-track-color: var(--shc-scrollbar-background-color);
    }

    &__wrapper {
        display: flex;
        gap: 0.25rem;
        overflow: hidden;
    }

    &__item {
        // <-- for ionic ripple effect
        position: relative;
        overflow: hidden;
        // for ionic ripple effect -->

        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100vmax;
        border: 0.125rem solid var(--ion-color-medium-tint);
        min-width: 2rem;
        min-height: 2rem;
        padding: .25rem;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;

        &--watched {
            background-color: rgba(var(--shc-watched-episode-color-rgb), 0.85) !important;
            color: var(--ion-color-light) !important;
            border-color: transparent;
        }

        &--selected {
            $selectedColor: var(--ion-color-primary);

            color: $selectedColor;
            border-color: $selectedColor;
        }

        &--long {
            min-width: 3.2rem;
        }

        &--not-aired {
            background-color: var(--shc-episode-not-aired-background-color);
            color: var(--shc-episode-not-aired-color);
        }

        &--skeleton {
            border-color: var(--ion-color-step-450);
        }
    }
}
