<ng-scrollbar
    #episodesScrollbar
    class="scrollbar"
    orientation="horizontal"
    appearance="compact"
    visibility="hover">
    <div class="episode-selector__wrapper">
        @for (episode of episodes(); track episode) {
            <span class="episode-selector__item ion-activatable"
                tabindex="0"
                #episodeEl
                [id]="'episode-' + episode"
                [class.episode-selector__item--watched]="episode <= maxWatchedEpisode()"
                [class.episode-selector__item--selected]="episode === selected()"
                [class.episode-selector__item--long]="episode > 99"
                [class.episode-selector__item--not-aired]="episode > maxAiredEpisode()"
                (click)="onEpisodeSelect(episode)"
                (keydown.enter)="onEpisodeSelect(episode)"
                (keydown.space)="onEpisodeSelect(episode)">
                {{ episode }}
                <ion-ripple-effect type="unbounded" />
            </span>
        } @empty {
            @if (isLoading()) {
                @for (_ of episodesSkeleton; track $index) {
                    <span class="skeleton episode-selector__item episode-selector__item--skeleton"></span>
                }
            } @else {
                <span class="episode-selector__item episode-selector__item--selected"
                    tabindex="0"
                    #episodeEl
                    id="episode-1">
                    1
                </span>
            }
        }
    </div>
</ng-scrollbar>
