.watch-button-div {
    display: flex;
    justify-content: center;
    align-content: center;
}

#watch_button {
    margin: 0 auto;
    display: inline-block;
}

a.watch-online:before {
    font-family: shikimori, serif;
    content: "\e831";
    margin-right: 10px;
    margin-top: 1px;
}

a.upload-video:before {
    font-family: shikimori, serif;
    content: "\e80c";
    margin-right: 10px;
    margin-top: 2px;
}
